﻿<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../partial/header_meta.ejs %>
    <%- include ../partial/header_css.ejs %>
    <link href="../../css/datepicker.css" rel="stylesheet" />
</head>
<body>
    <form action="/kiosk/dailybill" method="post">
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <%- include ../partial/nav_header.ejs %>
                <%- include ../partial/nav_menu.ejs %>
            </nav>

            <div id="page-wrapper">
                <div class="col-md-offset-3 col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading" style="min-height:30px;line-height:20px">
                            <div style="float:left;"> ส่งจำนวนเงินรายวัน </div>
                        </div>
                        <div class="panel-body" style="padding:20px;">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 formLabel">
                                        <label for="example-search-input"> ทำรายการเสร็จสิ้น </label>
                                    </div>                               
                                </div>                               

                                <div class="form-group" style="text-align:right;">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <button id="btnBack" class="btn btn-default btn-sm" onclick="history.go(-1);">ย้อนกลับ</button>
                                        <button type="submit" class="btn btn-primary btn-sm">ยืนยัน</button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <%- include ../partial/header_js.ejs %>

                <script src="../../js/bootstrap-datepicker.js"></script>
                <script src="../../js/bootstrap-datepicker-thai.js"></script>
                <script src="../../js/locales/bootstrap-datepicker.th.js"></script>
                <script src="../../js/jquery.inputmask.bundle.js"></script>

                <script>
                    $('.numberOnly').inputmask("numeric", {
                        radixPoint: ".",
                        groupSeparator: ",",
                        digits: 0,
                        autoGroup: true,
                        // prefix: '$ ', //Space after $, this will not truncate the first character.
                        rightAlign: false,
                        oncleared: function () { self.Value(''); }
                    });

                    $('#txtTotalMoney').inputmask("numeric", {
                        radixPoint: ".",
                        groupSeparator: ",",
                        digits: 0,
                        autoGroup: true,
                        // prefix: '$ ', //Space after $, this will not truncate the first character.
                        rightAlign: false,
                        oncleared: function () { self.Value(''); }
                    });

                    $('.datepicker').datepicker({ language: 'th-th', "setDate": new Date() })
                   .on('changeDate', function (ev) {
                       $(this).datepicker('hide');
                   });

                    $('#btnCalendar').click(function () {
                        $('.datepicker').datepicker('hide');
                        $('.datepicker').datepicker('show');
                    });

                </script>
    </form>
</body>
</html>
