﻿<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../partial/header_meta.ejs %>
    <%- include ../partial/header_css.ejs %>
    <link href="../../css/datepicker.css" rel="stylesheet" />
</head>

<body>
    <form action="/kiosk/dailybill" method="post">
        <div id="wrapper">
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <%- include ../partial/nav_header.ejs %>
                <%- include ../partial/nav_menu.ejs %>
            </nav>

            <div id="page-wrapper">
                <div class="col-md-offset-3 col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading" style="min-height:30px;line-height:20px">
                            <div style="float:left;"> ส่งจำนวนเงินรายวัน </div>
                        </div>
                        <div class="panel-body" style="padding:20px;">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 formLabel">
                                        <label for="example-search-input">รหัสเครื่องเติมเงิน : </label>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                        <label for="example-search-input"><%= kioskSN %> </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 formLabel">
                                        <label for="example-search-input">รหัสพนักงาน : </label>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                        <label for="example-search-input"><%= username %> </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 " style="text-align:right;">
                                        <label for="example-search-input">วันที่ส่ง : </label>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="text-align:left;">
                                        <div class="input-group ">
                                            <input name="dtpickerFrom" id="dtpickerSended" class="form-control datepicker" autocomplete="off" />
                                            <span class="input-group-btn" style="padding:0px;">
                                                <button id="btnCalendar" class="btn btn-default" type="button">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 " style="text-align:right;">
                                        <label for="example-search-input">แบงค์ 1000 บาท : </label>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="text-align:left;">
                                        <input class="form-control numberOnly" id="txtBank1000" name="cBank1000" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 " style="text-align:right;">
                                        <label for="example-search-input">แบงค์ 500 บาท : </label>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="text-align:left;">
                                        <input class="form-control numberOnly" id="txtBank500" name="cBank500">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 " style="text-align:right;">
                                        <label for="example-search-input">แบงค์ 100 บาท : </label>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="text-align:left;">
                                        <input class="form-control numberOnly" id="txtBank100" name="cBank100">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 " style="text-align:right;">
                                        <label for="example-search-input">แบงค์ 50 บาท : </label>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="text-align:left;">
                                        <input class="form-control numberOnly" id="txtBank50" name="cBank50">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 " style="text-align:right;">
                                        <label for="example-search-input">แบงค์ 20 บาท : </label>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="text-align:left;">
                                        <input class="form-control numberOnly" id="txtBank20" name="cBank20">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 " style="text-align:right;">
                                        <label for="example-search-input">เหรียญ 10 บาท : </label>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="text-align:left;">
                                        <input class="form-control numberOnly" id="txtCoin10" name="cCoin10">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 " style="text-align:right;">
                                        <label for="example-search-input">เหรียญ 5 บาท : </label>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="text-align:left;">
                                        <input class="form-control numberOnly" id="txtCoin5" name="cCoin5">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 " style="text-align:right;">
                                        <label for="example-search-input">เหรียญ 2 บาท : </label>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="text-align:left;">
                                        <input class="form-control numberOnly" id="txtCoin2" name="cCoin2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 " style="text-align:right;">
                                        <label for="example-search-input">เหรียญ 1 บาท : </label>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="text-align:left;">
                                        <input class="form-control numberOnly" id="txtCoin1" name="cCoin1">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 " style="text-align:right;">
                                        <label for="example-search-input">จำนวนเงินรวม : </label>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="text-align:left;">
                                        <input class="form-control" id="txtTotalMoney" name="cTotalMoney">
                                    </div>
                                </div>



                                <div class="form-group" style="text-align:right;">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <button id="btnBack" class="btn btn-default btn-sm" onclick="history.go(-1);">ย้อนกลับ</button>
                                        <button type="submit" class="btn btn-primary btn-sm">ยืนยัน</button>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <%- include ../partial/header_js.ejs %>

                <script src="../../js/bootstrap-datepicker.js"></script>
                <script src="../../js/bootstrap-datepicker-thai.js"></script>
                <script src="../../js/locales/bootstrap-datepicker.th.js"></script>

                <script src="../../js/jquery.inputmask.bundle.js"></script>
                <script>
                    $('.numberOnly').inputmask("numeric", {
                        radixPoint: ".",
                        groupSeparator: ",",
                        digits: 0,
                        autoGroup: true,
                        // prefix: '$ ', //Space after $, this will not truncate the first character.
                        rightAlign: false,
                        oncleared: function () { self.Value(''); }
                    });

                    $('#txtTotalMoney').inputmask("numeric", {
                        radixPoint: ".",
                        groupSeparator: ",",
                        digits: 0,
                        autoGroup: true,
                        // prefix: '$ ', //Space after $, this will not truncate the first character.
                        rightAlign: false,
                        oncleared: function () { self.Value(''); }
                    });

                    $('.datepicker').datepicker({ language: 'th-th', "setDate": new Date() })
                   .on('changeDate', function (ev) {
                       $(this).datepicker('hide');
                   });

                    $('#btnCalendar').click(function () {
                        $('.datepicker').datepicker('hide');
                        $('.datepicker').datepicker('show');
                    });

                   
            <% if(isFinish == true){ %>
                         alert('เสร็จสิ้น');
            <% } %>      
                      
                </script>
    </form>
</body>


</html>
