﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- include ../partial/header_meta.ejs %>
    <%- include ../partial/header_css.ejs %>

    <meta charset="utf-8" />
    <title></title>
    <style>
        #spinner {
            display: none;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <%- include ../partial/nav_header.ejs %>
            <%- include ../partial/nav_menu.ejs %>
        </nav>

        <div id="page-wrapper">
            <div class="row">

                <div id="spinner">
                    <div class="loader">
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 ">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">รายละเอียดผู้ใช้</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 col-lg-3 " align="center">
                                    <img alt="User Pic" src="/img/redUser.png" class="img-circle img-responsive">
                                </div>
                                <div class=" col-md-9 col-lg-9 ">
                                    <table class="table table-user-information">
                                        <tbody>
                                            <tr>
                                                <td>ชื่อ - นามสกุล: </td>
                                                <td><%= userProfile.agent_name + "-" + userProfile.agent_lastname %></td>
                                            </tr>
                                            <tr>
                                                <td>เลขบัตรประจำตัว: </td>
                                                <td><%= userProfile.agent_thai_id %></td>
                                            </tr>
                                            <tr>
                                                <td>อีเมล์: </td>
                                                <td><%= userProfile.agent_e_mail %></td>
                                            </tr>

                                         
                                            <tr>
                                                <td>ที่อยู่: </td>
                                                <td><%= userProfile.agent_address %></td>
                                            </tr>
                                            <tr>
                                                <td>เบอร์โทรศัพท์: </td>
                                                <td><%= userProfile.agent_tel_1 %></td>
                                            </tr>                                           

                                      
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include ../partial/header_js.ejs %>


            </div>
        </div>
</body>
</html>
