﻿<script src="../../js/jquery.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/metisMenu.min.js"></script>
<script src="../../js/raphael.min.js"></script>
<script src="../../js/morris.min.js"></script>

<script src="../../js/morris-data.js"></script>
<script src="../../js/sb-admin-2.js"></script>
<script src="../../js/moment.min.js"></script>
<script src="../../js/moment-with-locales.js"></script>

<script src="../../js/bootstrap-datetimepicker.js"></script>
<script src="../../js/upload.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="../../js/dataTables.bootstrap.min.js"></script>

<script src="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"></script>

<script>
  $(document).ready(function() {
  var h = $(document).height();
  var w = $(document).width();
  document.getElementById('page-wrapper').style.height= h +'px';

  });
</script>
