﻿<!-- /.row -->

<style>
    .headerL1 .fa:after {
        content: "\f138";
    }

    .headerL1.collapsed .fa:after {
        content: "\f13a";
    }
</style>
<div class="row">
  <div class="col-lg-10">



    <div class="panel panel-info">
      <div class="panel-heading">
        หน้าสรุป

      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#L1-pills" data-toggle="tab">หน้าหลัก</a>
          </li>
          <li>
            <a href="#L2-pills" data-toggle="tab">รายละเอียด</a>
          </li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content" style="padding:3px 0;">
          <div class="tab-pane fade in active" id="L1-pills">
            <div class="col-lg-12 col-md-12" style="text-align:right;">
                <input type="hidden" id="hddExecuteDate" name="hddExecuteDate" value="<%= executeDate %>" />
              <label>ข้อมูลล่าสุด วันที่ : </label> <%= executeDate %>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="panel panel-green">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-tasks fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge">
                        <%= kiosk1Count.toFixed(0).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") %>
                      </div>
                      <div>จำนวนตู้</div>
                    </div>
                  </div>
                </div>
                <a href="/kiosk">
                  <div class="panel-footer">
                    <span class="pull-left"> ดูรายละเอียด </span>
                    <span class="pull-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </span>
                    <div class="clearfix"></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-comments fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge">
                        <%= kiosk1Trans.toFixed(0).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") %>
                      </div>
                      <div>จำนวนรายการ</div>
                    </div>
                  </div>
                </div>
                <a href="/trans_main?date=<%= executeDate %>">
                  <div class="panel-footer">
                    <span class="pull-left">ดูรายละเอียด </span>
                    <span class="pull-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </span>
                    <div class="clearfix"></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="panel panel-yellow">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-shopping-cart fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge">
                        <%= kiosk1Money.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") %>
                      </div>
                      <div>ยอดเงินเข้าทั้งสิ้น</div>
                    </div>
                  </div>
                </div>
                <a href="/trans_main?date=<%= executeDate %>">
                  <div class="panel-footer">
                    <span class="pull-left">ดูรายละเอียด </span>
                    <span class="pull-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </span>
                    <div class="clearfix"></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="panel panel-red">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-support fa-4x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="huge">
                        <%= kiosk1Notification.toFixed(0).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") %>
                      </div>
                      <div>รายการแจ้งเตือน</div>
                    </div>
                  </div>
                </div>
                <a href=" <%='/report_04?date='+ executeDate  + '&type=1' %>">
                  <div class="panel-footer">
                    <span class="pull-left">ดูรายละเอียด </span>
                    <span class="pull-right">
                      <i class="fa fa-arrow-circle-right"></i>
                    </span>
                    <div class="clearfix"></div>
                  </div>
                </a>
              </div>
            </div>

            <div class="panel panel-default" style="border:1px silver solid;">
              <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> กราฟรายได้ทั้งหมด
                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-chevron-down"></i>
                  </button>
                  <ul class="dropdown-menu slidedown">
                    <li>
                      <a href="main?type=1">
                        <i class="fa fa-bar-chart-o fa-fw"></i> ย้อนหลัง 7 วัน
                      </a>
                    </li>

                    <li>
                      <a href="main?type=2">
                        <i class="fa fa-bar-chart-o fa-fw"></i> ย้อนหลัง 30 วัน
                      </a>
                    </li>

                    <li>
                      <a href="main?type=3">
                        <i class="fa fa-bar-chart-o fa-fw"></i> ย้อนหลัง 12 เดือน
                      </a>
                    </li>

                  </ul>
                </div>
              </div>
              <div class="panel-body">
                <div >

                  <div style="float:right;width:100px;margin: 10px 10px 0 0 ;">
                    <% if(chartType =="1") { %>
               ย้อนหลัง 7 วัน
                    <% } else if(chartType =="2") { %>
               ย้อนหลัง 30 วัน
                    <% } else { %>
               ย้อนหลัง 12 เดือน
                    <% } %>
                  </div>

                  <canvas id="myChart" width="600" height="185"></canvas>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="L2-pills">
            <div class="col-md-12" style="padding:0px;">

              <div class="panel panel-default">
                <!-- .panel-heading -->
                <div class="panel-body" style="padding:0px;">
                  <div class="panel-group" id="accordion">

                    <% for(var i=0; i<kiosk2.length; i=i+1) { %>

                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">                               
                            <a class='headerL1' data-toggle="collapse" data-parent="#accordion" href='<%= "#"+ i %>' >      
                                <i class="fa  fa-fw"></i>
                                <%= kiosk2[i].kioskname %>
                            </a>
                          </h4>

                        </div>

                        <div id='<%= i %>' class="panel-collapse collapse ">
                          <div class="panel-body">
                            <div class="col-lg-12 col-md-12" style="text-align:right;">
                              <div class="col-lg-3 col-md-6">
                                <div class="panel panel-green">
                                  <div class="panel-heading">
                                    <div class="row">
                                      <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-4x"></i>
                                      </div>
                                      <div class="col-xs-9 text-right">
                                        <div class="huge">
                                          <%= kiosk2[i].kioskCount.toFixed(0).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"); %>
                                        </div>
                                        <div>จำนวนตู้</div>
                                      </div>
                                    </div>
                                  </div>
                                  <a href="/kiosk">
                                    <div class="panel-footer">
                                      <span class="pull-left"> ดูรายละเอียด </span>
                                      <span class="pull-right">
                                        <i class="fa fa-arrow-circle-right"></i>
                                      </span>
                                      <div class="clearfix"></div>
                                    </div>
                                  </a>
                                </div>
                              </div>
                              <div class="col-lg-3 col-md-6">
                                <div class="panel panel-primary">
                                  <div class="panel-heading">
                                    <div class="row">
                                      <div class="col-xs-3">
                                        <i class="fa fa-comments fa-4x"></i>
                                      </div>
                                      <div class="col-xs-9 text-right">
                                        <div class="huge">
                                          <%= kiosk2[i].transCount.toFixed(0).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"); %>
                                        </div>
                                        <div>จำนวนรายการ</div>
                                      </div>
                                    </div>
                                  </div>
                                  <a href="<%='/report_02?date='+ executeDate  + '&type=3' %>">
                                    <div class="panel-footer">
                                      <span class="pull-left">ดูรายละเอียด </span>
                                      <span class="pull-right">
                                        <i class="fa fa-arrow-circle-right"></i>
                                      </span>
                                      <div class="clearfix"></div>
                                    </div>
                                  </a>
                                </div>
                              </div>
                              <div class="col-lg-3 col-md-6">
                                <div class="panel panel-yellow">
                                  <div class="panel-heading">
                                    <div class="row">
                                      <div class="col-xs-3">
                                        <i class="fa fa-shopping-cart fa-4x"></i>
                                      </div>
                                      <div class="col-xs-9 text-right">
                                        <div class="huge">
                                          <%= kiosk2[i].moneyCount.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"); %>
                                        </div>
                                        <div>ยอดเงินเข้าทั้งสิ้น</div>
                                      </div>
                                    </div>
                                  </div>
                                  <a href="<%='/report_02?date='+ executeDate  + '&type=3' %>">
                                    <div class="panel-footer">
                                      <span class="pull-left">ดูรายละเอียด </span>
                                      <span class="pull-right">
                                        <i class="fa fa-arrow-circle-right"></i>
                                      </span>
                                      <div class="clearfix"></div>
                                    </div>
                                  </a>
                                </div>
                              </div>
                              <div class="col-lg-3 col-md-6">
                                <div class="panel panel-red">
                                  <div class="panel-heading">
                                    <div class="row">
                                      <div class="col-xs-3">
                                        <i class="fa fa-support fa-4x"></i>
                                      </div>
                                      <div class="col-xs-9 text-right">
                                        <div class="huge">
                                          <%= kiosk2[i].notificationCount.toFixed(0).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"); %>
                                        </div>
                                        <div>รายการแจ้งเตือน</div>
                                      </div>
                                    </div>
                                  </div>
                                  <a href="<%='/report_04?date='+ executeDate  + '&type=1' %>">
                                    <div class="panel-footer">
                                      <span class="pull-left">ดูรายละเอียด </span>
                                      <span class="pull-right">
                                        <i class="fa fa-arrow-circle-right"></i>
                                      </span>
                                      <div class="clearfix"></div>
                                    </div>
                                  </a>
                                </div>
                              </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                              <table id="adsTable" class="table table-striped " style="table-layout:fixed;" cellspacing="0" width="100%">
                                <thead>
                                  <tr id="type1">                                  
                                    <th style="width: 30%; padding: 5px !important;"> Shop Name </th>                                 
                                    <th style="width: 10%; padding: 5px !important;"> จำนวนรายการ </th>
                                    <th style="width: 10%; padding: 5px !important;"> ยอดเงินเข้า </th>
                                    <th style="width: 10%; padding: 5px !important;"> รายการแจ้งเตือน </th>

                                  </tr>
                                </thead>
                                <tbody>

                                  <% for(var j=0; j<kiosk3.length; j=j+1) { %>
                                    <% if(kiosk2[i].agent_type === kiosk3[j].agent_type && kiosk2[i].group_id === kiosk3[j].group_id) { %>
                                      <tr>
                                        <td>
                                          <%= kiosk3[j].shopName %>
                                          </td>
                                       
                                        <td>
                                          <%= kiosk3[j].transCount.toFixed(0).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") %>
                                        </td>
                                        <td>
                                          <%= kiosk3[j].moneyCount.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"); %>
                                          </td>
                                        <td>
                                          <%= kiosk3[j].notificationCount %>
                                          </td>
                                      </tr>
                                      <% } %>
                                    <% } %>
                                </tbody>

                              </table>
                            </div>


                          </div>
                        </div>
                      </div>

                      <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.panel-body -->
      </div>
    </div>
    <script src="../../js/Chart.bundle.js"></script>
    <script src="../../js/Chart.js"></script>
    <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: [
            <% if(typeof chartData[0] != "undefined" ) { %>
      "<%= chartData[chartData.length-1].dateData %>"
      <% for(var i = chartData.length-2; i >= 0; i-- ) { %>
      <% if(typeof chartData[i] != "undefined" ) { %>
      ,"<%= chartData[i].dateData %>"
      <% } %>
      <% } %> <% } %>,
        ],
        datasets: [{
            label: 'จำนวน',
            data: [
                  <% if(typeof chartData[0] != "undefined" ) { %>
 <%= chartData[chartData.length-1].moneyData %>
      <% for(var i = chartData.length-2; i >= 0; i-- ) { %>
      <% if(typeof chartData[i] != "undefined") { %>
      ,<%= chartData[i].moneyData %>
                  <% } %>
            <% } %>
      <% } %>,
        ],
        borderWidth: 1,
        backgroundColor: "rgba(75,192,192,0.4)",
        borderColor: "rgba(75,192,192,1)"
       }]},
                options: {
                        responsive: true,
                        scales: {
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'จำนวนเงิน'
                                },
                                ticks: {
                                    beginAtZero:true
                                }
                            }],
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'วันที่'
                                },
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                }
                });
    </script>
  </div>

  <div class="col-lg-2" >
    <div class="chat-panel panel panel-info" style="border:1px silver solid;">
      <div class="panel-heading">
        <i class="fa fa-comments fa-fw"></i> โฆษณา
      </div>

      <!-- /.panel-heading -->
      <div class="panel-body">
        <ul class="chat">

          <% for (key in advert_list) { %>
          <li class=" clearfix">
            <div class="chat-body clearfix" style="margin:0px !important;">
              <div class="header">
                <small class=" text-muted">
                  <i class="fa fa-clock-o fa-fw"></i> 15 mins ago
                </small>
                <strong class="pull-right primary-font">
                  <%= advert_list[key].title%>
                </strong>
              </div>
              <img src="../../../img/<%= advert_list[key].url%>" style="height:<%= advert_height%>px;width:<%= advert_width%>px;" alt="<%= advert_list[key].description%>"  />
            </div>
          </li>
          <% } %>
        </ul>
      </div>
      <!-- /.panel-body -->
    </div>
  </div>
  <!-- /.col-lg-4 -->
</div>
<!-- /.row -->
