﻿<style>
    li a i {
        color: #EC2127;
    }

    li a label {
        color: black;
    }
</style>

<div class="navbar-default sidebar" role="navigation">
    <% if(locals.userType == 'A') { %>
  <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
          <li>
              <a href="/main">
                  <i class="fa fa-home fa-fw"></i>หน้าสรุป

              </a>
          </li>
          <li>
              <a href="#">
                  <i class="fa fa-bar-chart-o fa-fw"></i>รายงาน
          <span class="fa arrow"></span>
              </a>
              <ul class="nav nav-second-level">
                  <li>
                      <a href="/report_02_01">
                          <i class="fa fa-table fa-fw"></i>รายงานแสดงยอดเงินรายวัน
                      </a>
                  </li>
                  <li>
                      <a href="/report_03">
                          <i class="fa fa-table fa-fw"></i>รายงานแสดง Transaction
                      </a>
                  </li>


                  <!--  <li>
            <a href="/report_02_03">
              <i class="fa fa-table fa-fw"></i>  รายงานยอดเงินที่สาขาโทรแจ้ง
            </a>
          </li>-->

                  <li>
                      <a href="/report_05_01">
                          <i class="fa fa-table fa-fw"></i>รายงาน Commission ภาพรวม
                      </a>
                  </li>
                  <li>
                      <a href="/report_05">
                          <i class="fa fa-table fa-fw"></i>รายงาน Commission รายกลุ่ม
                      </a>
                  </li>
                  <!-- <li>
            <a href="/report_07"> 
              <i class="fa fa-table fa-fw"></i> รายงาน Performance
            </a>
          </li>-->
              </ul>
          </li>

          <li>
              <a href="/logout">
                  <i class="fa fa-dot-circle-o fa-fw"></i>ออกจากระบบ
              </a>
          </li>
      </ul>
  </div>
    <% } else if(locals.userType == 'O') { %>
  <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
          <li>
              <a href="/operation">
                  <i class="fa fa-home fa-fw"></i>หน้าแรก
              </a>
          </li>
          <!-- <li>
        <a href="#">
          <i class="fa fa-bar-chart-o fa-fw"></i> การทำรายการ
          <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
          <li>
            <a href="/report_06">
              <i class="fa fa-table fa-fw"></i> รายงานแสดงยอดเงิน
            </a>
          </li>         
        </ul>
      </li>-->

          <li>
              <a href="#">
                  <i class="fa fa-wrench fa-fw"></i>การตั้งค่า
          <span class="fa arrow"></span>
              </a>

              <ul class="nav nav-second-level">
                  <li>
                      <a href="/user">
                          <i class="fa fa-table fa-fw"></i>จัดการผู้ใช้
                      </a>
                  </li>
                  <li>
                      <a href="/advert">
                          <i class="fa fa-table fa-fw"></i>จัดการโฆษณา
                      </a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="/logout">
                  <i class="fa fa-dot-circle-o fa-fw"></i>ออกจากระบบ
              </a>
          </li>
      </ul>
  </div>
    <% } else { %>
  <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
          <li>
              <a href="/kiosk/dailybill">
                  <i class="fa fa-desktop fa-fw"></i>แจ้งยอดเงินรายวัน

              </a>
          </li>
          <li>
              <a href="/logout">
                  <i class="fa fa-dot-circle-o fa-fw"></i>ออกจากระบบ
              </a>
          </li>
      </ul>
  </div>
    <% }  %>
  <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
