﻿<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="index.html" style="padding:0px;">
    <img src="../../img/logo.png" alt="True logo" style="width:100px;display:inline;">
      <div style="display:inline;">Finance Report</div>
    </a>
</div>

<!-- /.navbar-header -->

<ul class="nav navbar-top-links navbar-right">
  <li class="dropdown">

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <span>User : </span><%= username %>
        <i class="fa fa-user fa-fw"></i>
        <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user"> 
        <li>
          <a href="/profile">
            <i class="fa fa-user fa-fw"></i> User Profile
          </a>
        </li>       
      </ul>
      <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
  </ul>

<!-- /.navbar-top-links -->
