﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <%- include partial/header_js.ejs %>
    <%- include partial/header_login_css.ejs %>

</head>
<style type="text/css">
    .form button {
        width: 35%;
    }
</style>
<body>
    <div class="login-page">
        <div class="form">
            <form id="change_pwd" method="post">
                <img src="../../img/logo.png" alt="True logo" style="width:100px;">
                <div style="margin-bottom: 15px;"> Change Your Password </div><br />
                <div id="errorMsg" style="display:inline;font-size: 16px;color:red;font-weight: bold;margin-bottom: 15px;"></div><br />
                <% if(changePasswordStatus != null && changePasswordStatus == true) { %>
                <input class="password" type="password" id="password" name="password" placeholder="New Password" /><br />
                <input class="password" type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" />
                <input class="txtLeft" type="checkbox" style="display:inline;width:30px;" onclick="toggle_password()"></input>
                <label style="display:inline;float:left;"> show password </label><br>
                <input type="hidden" name="username" value='<%= username %>' />
                <button type="button" onclick="submit_change()">Change</button>&nbsp;
                <button name="action" formaction="changePassword_back" value="changePassword_back">back</button>
                <br>
                <div style="display:inline;font-size: 11px;margin-bottom: 15px;">Password must contain at least 8 characters,1 number,1 lowercase character (a-z),1 uppercase character (A-Z).</div>
                <% } else { %>

                <% if(errorObj == null) { %>
                <div style="display:inline;font-size: 16px;color:red;font-weight: bold;margin-bottom: 15px;">
                    Update Success
                </div>
                <br /><br />
                <button name="action" formaction="changePassword_back" value="changePassword_back">back</button>
                <% } else { %>
                <div style="display:inline;font-size: 16px;color:red;font-weight: bold;margin-bottom: 15px;"><%=errorObj %></div><br /><br />
                <button name="action" formaction="forgotPassword_back" value="forgotPassword_back">back</button>
                <% } %>

                <% } %>
            </form>
        </div>

    </div>
    <script>
        function toggle_password(target) {
            if ($(".password").attr("type") == "password") {
                $(".password").attr("type", "text");

            } else {
                $(".password").attr("type", "password");
            }
        }
        function submit_change() {
            var password = $('#password').val();
            var confirmPassword = $('#confirmPassword').val();
            if ("" == password) {
                document.getElementById("errorMsg").innerHTML = "Please input password.";
                $('#password').focus();
            } else if (!password.match(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/)) {
                document.getElementById("errorMsg").innerHTML = "Password is not correct format.";
                $('#password').focus();
            } else if ("" == confirmPassword) {
                document.getElementById("errorMsg").innerHTML = "Please input confirm password.";
                $('#confirmPassword').focus();
            }
            else if (password != confirmPassword) {
                document.getElementById("errorMsg").innerHTML = "ConfirmPassword is not the same as password.";
                $('#confirmPassword').val("");
                $('#confirmPassword').focus();
            } else {
                $("#change_pwd").attr("action", "changePassword_change");
                $('#change_pwd').submit();
            }
        }
    </script>
</body>
</html>