﻿<!DOCTYPE html>
<html lang="en">

<head>
   <%- include partial/header_meta.ejs %> 
   <%- include partial/header_css.ejs %>   
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <%- include partial/nav_header.ejs %>  
			<%- include partial/nav_menu.ejs %>             
        </nav>		
		
        <div id="page-wrapper" style="padding-top:80px;">		
			<div style="width:450px;heigth:100px;margin:0 auto;padding:10px; background:whitesmoke;text-align:center;">
			

				<h2 style="display:inline;line-heigth:45px;"> ฟังชั่นยังไม่เปิดใช้งาน </h2>
			</div>
		</div> 

    </div>
    <%- include partial/header_js.ejs %>   
</body>
</html>
