<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
	   <%- include partial/header_js.ejs %> 
	     <%- include partial/header_login_css.ejs %> 
</head>
<style type="text/css">
.form button{
	width:35%;
}
</style>
<body>

	<div class="login-page">
	  <div class="form">
	    <form id="forgot_pwd" method="post">
	     <img src="../../img/logo.png" alt="True logo" style="width:100px;">
		 <div style="margin-bottom: 15px;"> Forgot your Password ? </div><br/>
		 <div id="errorMsg" style="display:inline;font-size: 16px;color:red;font-weight: bold;margin-bottom: 15px;"></div><br/>
			<% if(forgotPassStatus != null && forgotPassStatus == true) { %> 
	    		<input type="text" id="user" name="user" placeholder="username" />
	      		<button type="button" onclick="submit_forget_pwd()" >send
	      		</button>&nbsp;
	      		 <button name="action" formaction="forgotPassword_back" value="forgotPassword_back">back</button><br>
	      		<div style="display:inline;font-size: 12px;">Please enter your username and we'll send you <br/>a link to change your password. </div>
	    	<% } else { %>
			   		<% if(errorObj == null) { %> 			
						<div style="display:inline;font-size: 16px;font-weight: bold;margin-bottom: 15px;">Please check your email and change your password. </div><br/><br/>
						<button name="action" formaction="forgotPassword_back" value="forgotPassword_back">back</button>
				  	<% } else { %> 			
						<div style="display:inline;font-size: 16px;color:red;font-weight: bold;margin-bottom: 15px;"><%= errorObj %></div><br/><br/>
                        <button name="action" formaction="forgotPassword_back" value="forgotPassword_back">back</button>
				  <% } %> 

	
	    	<% } %>
	    </form>
	  </div>
	
	</div>
<script>
function submit_forget_pwd() {
   var user = $('#user').val();
   if(user != ""){
   		$("#forgot_pwd").attr("action", "forgotPassword_send");
	   	$('#forgot_pwd').submit();
   } else {
   		document.getElementById("errorMsg").innerHTML = "Please input username.";
   		$('#user').focus();
   }
}
</script>

</body>
</html>