﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
	   <%- include partial/header_js.ejs %> 
	     <%- include partial/header_login_css.ejs %> 
		 <style>
		 label{
			color:black;
		 }
		 a {
			color:black !important;
		 }
		 </style>
</head>
<body>

 <div class="login-page">
  <div class="form">
     <form name="login" method="POST" action="">
     <img src="../../img/logo.png" alt="True logo" style="width:100px;">
	 <div style="margin-bottom: 15px;"> Finance Report </div>
      <input type="text" name="user" placeholder="username"/>
      <input type="password" name="password" placeholder="password"/>
      <button>login</button>	
	  	  
      <p class="message">
		 <input class="txtLeft" name="chkRemember" type="checkbox" style="display:inline;width:30px;"></input> 
		 <label style="display:inline;float:left;">Remember me </label> 	
		 <label style="display:inline;float:left;">&nbsp;|&nbsp;</label>
		 <a href="/forgotPassword" style="display:inline;float:left;" >Forgot Password</a>
	  </p>

    </form>
  </div>
</div>
     
	  <% if(loginStatusObj != null && loginStatusObj == false) { %> 
		  
		  <% if( errorObj == "er01") { %> 			
				<script type='text/javascript'> alert('incorrect username/password, please check again.') </script>
		  <% } %> 

		   <% if(errorObj == "er02") { %> 			
				<script type='text/javascript'> alert('User is locked') </script>
		  <% } %> 
	   <% } %>

  </form>
  </div>
</div>
</body>
</html>




