﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <%- include partial/header_meta.ejs %> 
      <%- include partial/header_css.ejs %>   
</head>
<body>
 <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <%- include partial/nav_header.ejs %>  
			<%- include partial/nav_menu.ejs %>             
        </nav>

        <div id="page-wrapper">

	 <form name="search" method="POST" action="mykiosk" >
		 <div>
		    <input name="id" type="text" autocomplete="off">
			<input type="submit" value="SEARCH" class="btn btn-primary" autocomplete="off">
			<a href="main" class="btn btn-primary" text="BACK" >BACK</a>		
		 </div>

		 <div style="width:300px;height:200px;background:whitesmoke;">
		 result	:	<br />
		    <% if(info != null){ %>
			<% info.forEach(function(data){ %>
			<%= data.kiosk_code + '/ '+ data.kiosk_location %>  <br />
			<% }) %>
			<% } %>

		 </div>
	</form>

	</div> 

    </div>
    <%- include partial/header_js.ejs %>   

</body>
</html>