<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- include partial/header_meta.ejs %>
    <%- include partial/header_css.ejs %>

    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <%- include partial/nav_header.ejs %>
            <%- include partial/nav_menu.ejs %>
        </nav>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                  <div style="height:40px; text-align:right;">
                        <div class="col-lg-12" style="padding:0px;" >
                            <button class="btn btn-primary"  id="btnAdd">add</button>
                            <button class="btn btn-primary"  id="btnDelete">delete</button>
                             <button class="btn btn-primary"  id="btnConfigManagement">ConfigManagement</button>
                        </div>
                      </div>
                   

                    <div class="panel panel-info">
                        <div class="panel-heading" style="min-height:40px;line-height:30px">
                            <div style="float:left;">รายการโฆษณาทั้งหมด </div>
                        </div>
                        <div class="panel-body">
                            <table id="adsTable" class="display" cellspacing="0" width="100%">
                                <thead>
                                    <tr id="type1">
                                        <th></th>
                                        <th>PIC</th>
                                        <th>Title</th>
                                        <th>URL</th>
                                        <th>Description</th>
                                        <th>Category</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Status</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include partial/header_js.ejs %>

    <script type="text/javascript">
        $(document).ready(function () {
           // GenerateDataTable();
        });

        function GenerateDataTable() {
            var table = $('#adsTable').DataTable({
                "bDestroy": true,
                'bStateSave': true,
                "fnDraw": false,
                "bLengthChange": false,
                "responsive": true,
                "language": {
                    "lengthMenu": "แสดงผล _MENU_ ต่อหนึ่งเพจ",
                    "zeroRecords": "ไม่พบข้อมูล",
                    "info": "แสดงผลที่หน้า _PAGE_ จาก _PAGES_",
                    "infoEmpty": "No records available",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "search": "ค้นหา:",
                    "paginate": {
                        "first": "เริ่มต้น",
                        "last": "สุดท้าย",
                        "next": "ต่อไป",
                        "previous": "ก่อนหน้า"
                    }
                },

                "ajax": {

                    "url": '/advert_submit',
                    "type": 'POST',
                    "data": {},
                    "dataSrc": ""
                },
                "columns": [
                   {
                       "className": 'details-control',
                       "orderable": true,
                       "data": null,
                       "defaultContent": ''
                   },
                    { "data": "pictureName" },
                    { "data": "title" },
                    { "data": "url" },
                    { "data": "description" },
                    { "data": "category" },
                    { "data": "startDate" },
                    { "data": "endDate" },
                    { "data": "status" }
                ]
            });
            return false;
        }
        $('#btnUpload').on('click', function () {
            //window.location.href = "user/upload";
        });
        $('#btnAdd').on('click', function () {
            window.location.href = "advert_add";
        });
    </script>
    </div>
    </div>
</body>
</html>