<!DOCTYPE html>
    <html lang="en">

        <head>
            <%- include partial/header_meta.ejs %>
    <%- include partial/header_css.ejs %>
    <link href="../css/datepicker.css" rel="stylesheet" />
        </head>
        <style type="text/css">
            table tr td {
                text - align: right;
    }

    table tr th {
                text - align: right;
    }

    .dataTables_wrapper {
                width: 95%;
        margin-bottom: 20px;
    }

    td.details-control {
                background: url('../img/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
                background: url('../img/details_close.png') no-repeat center center;
    }

    .ui-datepicker-calendar {
                display: none;
    }

    .dataTables_wrapper {
                width: 99% !important;
    }

    table {
                table - layout: fixed;
    }

        table thead {
                font - size: 12px;
            padding: 50px !important;
            background-color: whitesmoke;
            color: black;
        }

        table tbody tr td:not([colspan = "14"]) {
                padding: 5px !important;
        }

        table tbody tr td[colspan = "14"] {
                padding: 0px;
        }

        table tbody tr td[colspan = "19"] {
                padding: 0px !important;
        }

        table tbody tr td[colspan = "18"] {
                padding: 0px !important;
        }

        table tbody tr td {
                table - layout: fixed;
            overflow: hidden;
            word-wrap: break-word;
        }

    div.dataTables_wrapper {
                margin: 0 auto;
    }

    div.container {
                width: 100%;
    }

</style>

        <body>
            <div class="login-page">
                <div class="form">

                    <div id="wrapper">
                        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                            <%- include partial/nav_header.ejs %>
                    <%- include partial/nav_menu.ejs %>
                </nav>
                        
                        <div id="page-wrapper">
                        <div class="row">
                            <div id="spinner">
                                <div class="loader">
                                </div>
                            </div>
                            <div class="col-lg-12">

                                <form method="post">
                                   <input type="hidden" name="dtpickerFrom" id="dtpickerFrom" value="<%= dtpickerFrom%>"></input>
                                   <input type="hidden" name="dtpickerTo" id="dtpickerTo" value="<%= dtpickerTo%>"></input>
                                   <input type="hidden" name="txtKioskID" id="txtKioskID" value="<%= searchKioskID%>"></input>
                                   <input type="hidden" name="sel1" id="sel1" value="3"></input>
                                        <div class="panel panel-info">
                                            <div class="panel-heading" style="min-height: 40px; line-height: 30px">
                                                <div style="float: left;">รายละเอียดรายงาน</div>
                                            </div>
                                            <div class="panel-body" style="overflow:auto;max-height:600px;">
                                                <div class="form-group">
                                                    <label class="col-xs-12 col-sm-3  col-md-2 control-label">รหัสเครื่องเติมเงิน : </label>
                                                    <div class="col-xs-12 col-sm-9  col-md-3" id="kioskID"><%= kioskID %></div>
                                                </div>
                                                <br />
                                                <div class="form-group">
                                                    <label class="col-xs-12 col-sm-3  col-md-2 control-label">วันที่เริ่มต้น : </label>
                                                    <div class="col-xs-12 col-sm-9  col-md-3" id="txtdtpickerFrom"><%= dtpickerFrom %></div>
                                                </div>
                                                <br />
                                                <div class="form-group">
                                                    <label class="col-xs-12 col-sm-3  col-md-2 control-label">วันที่สิ้นสุด : </label>
                                                    <div class="col-xs-12 col-sm-9  col-md-3" id="txtdtpickerTo"><%= dtpickerTo %></div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12" style="text-align: right; height: 30px;">
                                                <button style="margin-left: 5px;" class="btn btn-warning btn-sm" name="action" formaction="report_06_search" value="search">กลับ</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-info">
                                        <div class="panel-heading" style="min-height: 40px; line-height: 30px">
                                                <div style="float: left;">รายวัน</div>
                                            </div>
                                            <div class="panel-body" style="overflow:auto;max-height:600px;">
                                            <div style="width:1700px;">
                                                
                                                    <table id="adsTable1" class="stripe row-border order-column" style="width:100%;" cellspacing="0">
                                                            <thead>
                                                            <tr>
                                                                <th style="width: 5%; padding: 5px !important;">วัน</th>
                                                                <th style="width: 5%; padding: 5px !important;">เหรียญ 10 </th>
                                                                <th style="width: 5%; padding: 5px !important;">เหรียญ 5 </th>
                                                                <th style="width: 5%; padding: 5px !important;">เหรียญ 2 </th>
                                                                <th style="width: 5%; padding: 5px !important;">เหรียญ 1 </th>
                                                                <th style="width: 5%; padding: 5px !important;">ธนบัตร 1000 </th>
                                                                <th style="width: 5%; padding: 5px !important;">ธนบัตร 500 </th>
                                                                <th style="width: 5%; padding: 5px !important;">ธนบัตร 100 </th>
                                                                <th style="width: 5%; padding: 5px !important;">ธนบัตร 50 </th>
                                                                <th style="width: 5%; padding: 5px !important;">ธนบัตร 20 </th>
                                                                <th style="width: 5%; padding: 5px !important;">ยอดเงินไขตู้</th>
                                                                <th style="width: 10%; padding: 5px !important;">ยอดเงินสะสมภายในตู้</th>
                                                                <th style="width: 5%; padding: 5px !important;">ผลรวมทั้งหมด</th>
                                                            </tr>

                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel panel-info">
                                            <div class="panel-heading" style="min-height: 40px; line-height: 30px">
                                                <div style="float: left;">รายทรานแซคชั่น</div>
                                            </div>
                                            <div class="panel-body" style="overflow:auto;max-height:600px;">
                                                <div style="width:1700px;">
                                                    <table id="adsTable2" class="stripe row-border order-column" style="width:100%;" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 5%; padding: 5px !important;">เวลา</th>
                                                                <th style="width: 5%; padding: 5px !important;">เหรียญ 10 </th>
                                                                <th style="width: 5%; padding: 5px !important;">เหรียญ 5 </th>
                                                                <th style="width: 5%; padding: 5px !important;">เหรียญ 2 </th>
                                                                <th style="width: 5%; padding: 5px !important;">เหรียญ 1 </th>
                                                                <th style="width: 5%; padding: 5px !important;">ธนบัตร 1000 </th>
                                                                <th style="width: 5%; padding: 5px !important;">ธนบัตร 500 </th>
                                                                <th style="width: 5%; padding: 5px !important;">ธนบัตร 100 </th>
                                                                <th style="width: 5%; padding: 5px !important;">ธนบัตร 50 </th>
                                                                <th style="width: 5%; padding: 5px !important;">ธนบัตร 20 </th>
                                                                <th style="width: 5%; padding: 5px !important;">insert amount</th>
                                                                <th style="width: 5%; padding: 5px !important;">select amount</th>
                                                                <th style="width: 5%; padding: 5px !important;">commission</th>
                                                                <th style="width: 5%; padding: 5px !important;">Vat of commission (excluding vat) = 7%</th>
                                                                <th style="width: 10%; padding: 5px !important;">withholding tax of commission (excluding vat) = 3% </th>
                                                                <th style="width: 10%; padding: 5px !important;">Net Commission (include vat)</th>
                                                            </tr>

                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <%- include partial/header_js.ejs %>

					<script src="../js/bootstrap-datepicker.js"></script>
                    <script src="../js/bootstrap-datepicker-thai.js"></script>
                    <script src="../js/locales/bootstrap-datepicker.th.js"></script>
                    <script type="text/javascript">

                 $(document).ready(function () {
                            genTable1();
                            genTable2();
                });

				function genTable1() {
                            $('#adsTable1').DataTable({
                                "scrollY": "300px",
                                "bDestroy": true,
                                'bStateSave': true,
                                "fnDraw": false,
                                "bLengthChange": false,
                                "responsive": true,
                                "orderable": false,
                                "order": [[0, "desc"]],
                                "language": {
                                    "lengthMenu": "แสดงผล _MENU_ ต่อหนึ่งเพจ",
                                    "emptyTable": "No data available in table",
                                    "info": "แสดงผลที่หน้า _PAGE_ จาก _PAGES_",
                                    "infoEmpty": "No records available",
                                    "infoFiltered": "(filtered from _MAX_ total records)",
                                    "search": "ค้นหา:",
                                    "paginate": {
                                        "first": "เริ่มต้น",
                                        "last": "สุดท้าย",
                                        "next": "ต่อไป",
                                        "previous": "ก่อนหน้า"
                                    }
                                },

                                "ajax": {
                                    "url": '/report_06_dailyDetail01',
                                    "type": 'POST',
                                    "data": {
                                        kioskID: $('#kioskID').html(),
                                        dtpickerFrom: $('#txtdtpickerFrom').html(),
                                        dtpickerTo: $('#txtdtpickerTo').html()
                                    },
                                    "dataSrc": ""
                                },
                                "columns": [
                                    { "data": "day", "defaultContent": "0" },
                                    { "data": "col2", "defaultContent": "0" },
                                    { "data": "col3", "defaultContent": "0" },
                                    { "data": "col4", "defaultContent": "0" },
                                    { "data": "col5", "defaultContent": "0" },
                                    { "data": "col6", "defaultContent": "0" },
                                    { "data": "col7", "defaultContent": "0" },
                                    { "data": "col8", "defaultContent": "0" },
                                    { "data": "col9", "defaultContent": "0" },
                                    { "data": "col10", "defaultContent": "0" },
                                    { "data": "col11", "defaultContent": "0" },
                                    { "data": "col12", "defaultContent": "0" },
                                    { "data": "col13", "defaultContent": "0" }

                                ]
                               
                            });
                        }
            function genTable2() {
                $('#adsTable2').DataTable({
                    "scrollY": "300px",
                    "bDestroy": true,
                    'bStateSave': true,
                    "fnDraw": false,
                    "bLengthChange": false,
                    "responsive": true,
                    "orderable": false,
                    "language": {
                        "lengthMenu": "แสดงผล _MENU_ ต่อหนึ่งเพจ",
                        "emptyTable": "No data available in table",
                        "info": "แสดงผลที่หน้า _PAGE_ จาก _PAGES_",
                        "infoEmpty": "No records available",
                        "infoFiltered": "(filtered from _MAX_ total records)",
                        "search": "ค้นหา:",
                        "paginate": {
                            "first": "เริ่มต้น",
                            "last": "สุดท้าย",
                            "next": "ต่อไป",
                            "previous": "ก่อนหน้า"
                        }
                    },

                    "ajax": {
                        "url": '/report_06_dailyDetail02',
                        "type": 'POST',
                        "data": {
                            kioskID: $('#kioskID').html(),
                            dtpickerFrom: $('#txtdtpickerFrom').html(),
                            dtpickerTo: $('#txtdtpickerTo').html()
                        },
                        "dataSrc": ""
                    },
                    "columns": [
                        { "data": "col1", "defaultContent": "0" },
                        { "data": "col2", "defaultContent": "0" },
                        { "data": "col3", "defaultContent": "0" },
                        { "data": "col4", "defaultContent": "0" },
                        { "data": "col5", "defaultContent": "0" },
                        { "data": "col6", "defaultContent": "0" },
                        { "data": "col7", "defaultContent": "0" },
                        { "data": "col8", "defaultContent": "0" },
                        { "data": "col9", "defaultContent": "0" },
                        { "data": "col10", "defaultContent": "0" },
                        { "data": "col11", "defaultContent": "0" },
                        { "data": "col12", "defaultContent": "0" },
                        { "data": "col15", "defaultContent": "0" },
                        { "data": "col16", "defaultContent": "0" },
                        { "data": "col17", "defaultContent": "0" },
                        { "data": "col18", "defaultContent": "0" }

                    ],
                    "initComplete": function () {
                        $('#spinner').hide();
                    }
                });
            }
            </script>
                </div>
            </div>
        </body>
    </html>
