<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partial/header_meta.ejs %>
    <%- include partial/header_css.ejs %>
    <link href="../css/datepicker.css" rel="stylesheet" />
</head>
<style type="text/css">
    .show {
        display: block !important;
    }

    .hide_column {
        display: none;
    }

    table tr td {
        text - align: right;
    }



    table tr th {
        text - align: right;
    }

    .dataTables_wrapper {
        width: 95%;
        margin-bottom: 20px;
    }

    td.details-control {
        background: url('../img/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('../img/details_close.png') no-repeat center center;
    }

    .ui-datepicker-calendar {
        display: none;
    }

    .dataTables_wrapper {
        width: 99% !important;
    }

    table {
        table - layout: fixed;
    }

        table thead {
            font - size: 12px;
            padding: 50px !important;
            background-color: whitesmoke;
            color: black;
        }

        table tbody tr td:not([colspan = "14"]) {
            padding: 5px !important;
        }

        table tbody tr td[colspan = "14"] {
            padding: 0px;
        }

        table tbody tr td[colspan = "19"] {
            padding: 0px !important;
        }

        table tbody tr td[colspan = "18"] {
            padding: 0px !important;
        }

        table tbody tr td {
            table - layout: fixed;
            overflow: hidden;
            word-wrap: break-word;
        }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {
        width: 100%;
    }
</style>

<body>
    <input type="hidden" name="dtpickerFromHidden" id="dtpickerFromHidden" value="<%= from%>">
    <input type="hidden" name="dtpickerToHidden" id="dtpickerToHidden" value="<%= to%>">
    <input type="hidden" name="dateToHidden" id="dateToHidden" value="<%= date%>">
    <input type="hidden" name="hddTypeID" id="hddTypeID" value="<%= selectedAgentType%>">
    <input type="hidden" name="hddChannelID" id="hddChannelID" value="<%= selectedChannelType%>">
    <link href="https://cdn.datatables.net/select/1.2.5/css/select.dataTables.min.css" rel="stylesheet" />

    <div class="login-page">
        <div class="form">

            <div id="wrapper">
                <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <%- include partial/nav_header.ejs %>
                    <%- include partial/nav_menu.ejs %>
                </nav>

                <div id="page-wrapper">

                    <div class="row">
                        <div id="spinner" class="spinner">
                            <div class="loader">
                            </div>
                        </div>

                        <div class="col-lg-12">


                            <form method="post">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        เงื่อนไขการค้นหา
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-horizontal">

                                            <div class="form-group" style=" <% if(lv == 3){ %> display:block <% } else { %> display:none <% } %>">
                                                <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="inputEmail3">Agent Type : </label>
                                                <div class="col-xs-12 col-sm-3 col-md-3 ">
                                                    <div class="input-group">
                                                        
                                                        <select id="ddlType" name="ddlType" class="form-control cancelPadding ">
                                                            <option value="">กรุณาเลือก</option>
                                                            <% for (var i = 0; i < agentType.length; i++) { %>
                                                               <option value="<%= agentType[i].typeID %>" <%= selectedAgentType==agentType[i].typeID ? 'selected' : '' %> > <%= agentType[i].agent_type_name%></option>
                                                            <% } %>
                                                        </select>
                                                    </div>
                                                </div>
                                                <label for="inputPassword3" class="col-xs-12 col-sm-3  col-md-2 control-label">Agent Channel : </label>
                                                <div class="col-xs-12 col-sm-3 col-md-3" style="margin-bottom: 5px;">
                                                    <div class="input-group ">
                                                         <select id="ddlChannel" name="ddlChannel" class="form-control cancelPadding ">
                                                            <option value="">กรุณาเลือก</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="inputEmail3">วันที่เริ่มต้น : </label>
                                                <div class="col-xs-12 col-sm-3 col-md-3 ">
                                                    <div class="input-group dtpickerFrom">
                                                        <input name="dtpickerFrom" id="dtpickerFrom" style="padding: 12px !important;" autocomplete="off" class="form-control cancelPadding dtpicker" value="<%= from %>" />
                                                        <span class="input-group-btn">
                                                            <button id="btnCalendar" class="btn btn-default" type="button" disabled>
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <label for="inputPassword3" class="col-xs-12 col-sm-3  col-md-2 control-label">วันที่สิ้นสุด : </label>
                                                <div class="col-xs-12 col-sm-3 col-md-3" style="margin-bottom: 5px;">
                                                    <div class="input-group dtpickerTo">
                                                        <input name="dtpickerTo" id="dtpickerTo" style="padding: 12px !important;"
                                                            autocomplete="off" class="form-control cancelPadding dtpicker" value="<%= to %>" />
                                                        <span class="input-group-btn">
                                                            <button id="btnCalendar" class="btn btn-default" type="button" disabled>
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12" style="text-align: right; height: 30px;">
                                                    <button class="btn btn-warning btn-sm" name="action"
                                                        formaction="report_02_01_search" value="search">
                                                        แสดงผล
                                                    </button>
                                                    <button style="margin-left: 5px;" class="btn btn-warning btn-sm" name="action" formaction="report_02_01_export" value="export">นำออก</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs" role="tablist">
                                <li class="active" role="tab">
                                    <a href="#LTMN" data-toggle="tab">แสดงยอดเงินรายวัน</a>
                                </li>
                                <li id="tabHeaderL0" role="tab">
                                    <a href="#L0" data-toggle="tab">แสดงยอดเงินที่สาขาโทรแจ้ง</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">

                                <div class="tab-pane active" id="LTMN">
                                    <div class="panel panel-info">
                                        <div class="panel-heading" style="min-height: 40px; line-height: 30px">
                                            <div style="float: left;">
                                                ผลลัพธ์ การค้นหา 
                                                <label id="lblKioskCount"></label>
                                            </div>

                                        </div>
                                        <div class="panel-body" style="overflow: auto;">
                                            <div style="width: auto;">

                                                <table id="adsTable1" class="stripe row-border order-column" style="width: 100%;" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 5%;"></th>
                                                            <th style="display: none;"></th>
                                                            <th style="width: 20%; padding: 5px !important;">Shop name</th>
                                                            <th style="width: 5%; padding: 5px !important;">ยอดเงินไขตู้ </th>
                                                            <th style="width: 5%; padding: 5px !important;">ยอดเงินสะสมภายในตู้</th>
                                                            <th style="width: 5%; padding: 5px !important;">Grand Total</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane" id="L0">
                                    <div class="panel panel-info">
                                        <div class="panel-heading" style="min-height: 40px; line-height: 30px">
                                            <div style="float: left;">
                                                ผลลัพธ์ การค้นหา 
                                                 <label id="lblKioskCount2"></label>
                                            </div>

                                        </div>
                                        <div class="panel-body" style="overflow: auto;">
                                            <div style="width: auto;">

                                                <table id="callLogTable1" class="stripe row-border order-column" style="width: 100%;" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 5%;"></th>
                                                            <th style="display: none;"></th>
                                                            <th style="width: 8%; padding: 5px !important;">วันที่ </th>
                                                            <th style="width: 8%; padding: 5px !important;">รหัสสาขา </th>
                                                            <th style="width: 20%; padding: 5px !important;">ชื่อสาขา </th>
                                                            <th style="width: 8%; padding: 5px !important;">ยอดเงินไขตู้ </th>
                                                            <th style="width: 8%; padding: 5px !important;">สาขาโทรแจ้งยอด</th>
                                                            <th style="width: 8%; padding: 5px !important;">ชื่อผู้สร้าง</th>
                                                            <th style="width: 8%; padding: 5px !important;">วันที่สร้าง</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog panel-info" role="document">
                    <div class="modal-content panel-info">
                        <div class="modal-header panel-heading">
                            <h5 class="modal-title" id="exampleModalLabel">สาขาโทรแจ้งยอด</h5>
                            <input type="hidden" id="hddTimeUnique" value="">
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="recipient-name" class="form-control-label">ยอดจากการแจ้ง :</label>
                                    <input id="txtCallLogValue" type="text" class="form-control" id="recipient-name">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                            <button type="button" id="btnSubmitCallLog" class="btn btn-primary">บันทึก</button>
                        </div>
                    </div>
                </div>
            </div>



            <%- include partial/header_js.ejs %>

            <script src="../js/bootstrap-datepicker.js"></script>
            <script src="../js/bootstrap-datepicker-thai.js"></script>
            <script src="../js/locales/bootstrap-datepicker.th.js"></script>
            <script src="//cdn.datatables.net/plug-ins/1.10.16/sorting/currency.js"></script>
            <script src="//cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>

            <script type="text/javascript">
                var month = new Array();
                month[0] = "01";
                month[1] = "02";
                month[2] = "03";
                month[3] = "04";
                month[4] = "05";
                month[5] = "06";
                month[6] = "07";
                month[7] = "08";
                month[8] = "09";
                month[9] = "10";
                month[10] = "11";
                month[11] = "12";

                var makeDate = new Date();
                makeDate.setYear(makeDate.getFullYear() + 543);
                CurDate = new Date(makeDate.setMonth(makeDate.getMonth()));
                PreviousDate = new Date(makeDate.setMonth(makeDate.getMonth() - 1));

                $(document).ready(function () {
                    BindingDdl(true);

                    $('#ddlType').change(function () {                     
                        BindingDdl(false);                       
                        $('#hddTypeID').val($('#ddlType').val());
                    });

                    $('#ddlChannel').change(function () {
                        $('#hddChannelID').val($('#ddlChannel').val());
                    });


                    $("#txtCallLogValue").keydown(function (e) {
                        // Allow: backspace, delete, tab, escape, enter and .
                        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                            // Allow: Ctrl+A, Command+A
                            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                            // Allow: home, end, left, right, down, up
                            (e.keyCode >= 35 && e.keyCode <= 40)) {
                            // let it happen, don't do anything
                            return;
                        }
                        // Ensure that it is a number and stop the keypress
                        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                            e.preventDefault();
                        }
                    });



                    $('.dtpicker').datepicker({ language: 'th-th', "setDate": new Date() })
                        .on('changeDate', function (ev) {
                            $(this).datepicker('hide');
                        });
                    $("#dtpickerFrom").val($("#dtpickerFromHidden").val());
                    $("#dtpickerTo").val($("#dtpickerToHidden").val());

                    if ($("#dtpickerFrom").val() == "" && $("#dtpickerTo").val() == "") {
                        GenerateDatetime();
                    }

                    if (<%= issearch %> == 1 ) {                    
                    genTable1();
                    genTable2();
                    }else {
                        $('#spinner').hide();
                    } 

                    

                });

                function GenerateDatetime() {
                    if ($("#dateToHidden").val() != null && $("#dateToHidden").val() != "") {
                        $("#dtpickerFrom").val($("#dateToHidden").val());
                        $("#dtpickerTo").val($("#dateToHidden").val());
                    } else {
                        $('.dtpicker').datepicker({ language: 'th-th', "setDate": new Date() })
                            .on('changeDate', function (ev) {
                                $(this).datepicker('hide');
                            });
                        var To = CurDate.getDate() + '/' + month[CurDate.getMonth()] + '/' + CurDate.getFullYear();
                        var From = PreviousDate.getDate() + '/' + month[PreviousDate.getMonth()] + '/' + PreviousDate.getFullYear();
                        $("#dtpickerFrom").val(From);
                        $("#dtpickerTo").val(To);
                    }
                };

                function BindingDdl(isRefresh) {
                    $.ajax({
                        url: '/report_02_01_initialChannel',
                        dataType: 'json',
                        type: 'POST',
                        // This is query string i.e. country_id=123
                        data: { agentType: $('#ddlType').val() },
                        success: function (data) {
                            $('#ddlChannel').empty(); // clear the current elements in select box
                            $('#ddlChannel').append($('<option></option>').attr('value', '').text('กรุณาเลือก'));
                            for (row in data) {
                                $('#ddlChannel').append($('<option></option>').attr('value', data[row].channelID).text(data[row].agent_channel_name));
                            }
                            if (isRefresh == true) {
                                $('#ddlChannel').val(<%= selectedChannelType %>);
                            } else {
                                $('#ddlChannel').val('');
                            }
                            
                           
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
                };

                function genTable1() {
                    var table = $('#adsTable1').DataTable({
                        "bDestroy": true,
                        'bStateSave': true,
                        "fnDraw": false,
                        "bLengthChange": false,
                        "responsive": true,
                        "orderable": false,

                        "language": {
                            "lengthMenu": "แสดงผล _MENU_ ต่อหนึ่งเพจ",
                            "emptyTable": "No data available in table",
                            "info": "แสดงผลที่หน้า _PAGE_ จาก _PAGES_",
                            "infoEmpty": "No records available",
                            "infoFiltered": "(filtered from _MAX_ total records)",
                            "search": "ค้นหา:",
                            "paginate": {
                                "first": "เริ่มต้น",
                                "last": "สุดท้าย",
                                "next": "ต่อไป",
                                "previous": "ก่อนหน้า"
                            }
                        },

                        "ajax": {
                            "url": '/report_02_01_initialData',
                            "type": 'POST',
                            "data": {
                                typeID: $('#hddTypeID').val(),
                                channelID: $('#hddChannelID').val(),
                                dtpickerFrom: $('#dtpickerFrom').val(),
                                dtpickerTo: $('#dtpickerTo').val()
                            },
                            "dataSrc": ""
                        },
                        "columns": [
                            {
                                "className": 'details-control',
                                "orderable": true,
                                "data": null,
                                "defaultContent": ''

                            },
                            { "data": "serialNum", "defaultContent": "0", "className": "hide_column" },
                            { "data": "shop_name", "defaultContent": "0" },
                            { "data": "money_inbox", "defaultContent": "0", render: $.fn.dataTable.render.number(',', '.', 2, '') },
                            { "data": "daily_money", "defaultContent": "0", render: $.fn.dataTable.render.number(',', '.', 2, '') },
                            { "data": "GrandTotal", "defaultContent": "0", render: $.fn.dataTable.render.number(',', '.', 2, '') }

                        ],

                        "initComplete": function () {
                            $('#spinner').hide();

                            var table = $('#adsTable1').DataTable();
                            $('#lblKioskCount').text("จำนวน " + table.data().count() + " ตู้");
                            $('#lblKioskCount2').text("จำนวน " + table.data().count() + " ตู้");
                        }
                    });



                    $('#adsTable1 tbody').on('click', 'td.details-control', function () {
                        var tr = $(this).closest('tr');
                        var row = table.row(tr);

                        if (row.child.isShown()) {
                            // This row is already open - close it
                            row.child.hide();
                            tr.removeClass('shown');
                        }
                        else {
                            // Open this row

                            row.child(format1(row.data())).show();
                            tr.addClass('shown');


                        }
                    });

                }
                function format1(d) {
                    var result = "";


                    $.ajax({
                        type: "POST", //rest Type
                        data: JSON.stringify({
                            typeID: $('#hddTypeID').val(),
                            channelID: $('#hddChannelID').val(),
                            dtpickerFrom: $('#dtpickerFrom').val(),
                            dtpickerTo: $('#dtpickerTo').val(),
                            kioskID: d.serialNum
                        }),

                        url: "/report_02_01_DetailData",
                        async: false,
                        contentType: "application/json; charset=utf-8",
                        success: function (msg) {
                            result = '<table  border="0" style="width:100%;table-layout:fixed;">';

                            for (var key in msg) {
                                result += '<tr>' +
                                    '<td style="width: 5%;" ></td>' +
                                    '<td style="width:17%; padding:5px !important;">' + msg[key].date + '</td>' +
                                    '<td style="width:5%;  padding:5px !important;">' + parseFloat(msg[key].money_inbox).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + '</td>' +
                                    '<td style="width:5%;  padding:5px !important;">' + parseFloat(msg[key].daily_money).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + '</td>' +
                                    '<td style="width:5%;  padding:5px !important;">' + parseFloat(msg[key].GrandTotal).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + '</td>' +
                                    '</tr>';
                            }
                            result += '</table>';

                            $('#spinner').hide();
                        }
                    });

                    return result;
                }

                function genTable2() {
                    var table = $('#callLogTable1').DataTable({
                        "bDestroy": true,
                        'bStateSave': true,
                        "fnDraw": false,
                        "bLengthChange": false,
                        "responsive": true,
                        "orderable": false,
                        "language": {
                            "lengthMenu": "แสดงผล _MENU_ ต่อหนึ่งเพจ",
                            "emptyTable": "No data available in table",
                            "info": "แสดงผลที่หน้า _PAGE_ จาก _PAGES_",
                            "infoEmpty": "No records available",
                            "infoFiltered": "(filtered from _MAX_ total records)",
                            "search": "ค้นหา:",
                            "paginate": {
                                "first": "เริ่มต้น",
                                "last": "สุดท้าย",
                                "next": "ต่อไป",
                                "previous": "ก่อนหน้า"
                            }
                        },

                        "ajax": {
                            "url": '/report_02_03_initialData',
                            "type": 'POST',
                            "data": {
                                typeID: $('#hddTypeID').val(),
                                channelID: $('#hddChannelID').val(),
                                dtpickerFrom: $('#dtpickerFrom').val(),
                                dtpickerTo: $('#dtpickerTo').val()
                            },
                            "dataSrc": ""
                        },
                        "columns": [
                            {

                                "orderable": false,
                                "data": null,
                                "target": -1,
                                "defaultContent": '<button class="btn btn-warning btn-sm showCallLog" > แจ้งยอด </button>'

                            },
                            { "data": "time_unique", "defaultContent": "0", "className": "hide_column" },
                            { "data": "time_stamp", "defaultContent": "0" },
                            { "data": "dealer_code", "defaultContent": "0" },
                            { "data": "shop_name", "defaultContent": "0" },
                            { "data": "money_inbox", "defaultContent": "0", render: $.fn.dataTable.render.number(',', '.', 2, '') },
                            { "data": "callLog", "defaultContent": "0", render: $.fn.dataTable.render.number(',', '.', 2, '') },
                            { "data": "createBy", "defaultContent": " - " },
                            { "data": "createDate", "defaultContent": " - " }
                        ],

                        "initComplete": function () {
                            $('#spinner').hide();
                            if (<%= lv %> != 3) {                               
                                $('.showCallLog').hide();
                                }
                        },
                        select: true

                    });
                    $('#callLogTable1 tbody').on('click', 'button', function () {
                        var tr = $(this).closest('tr');
                        var row = table.row(tr);
                        var data = row.data();

                        $('#hddTimeUnique').val(data.time_unique);
                        $('#exampleModal').modal('show');
                    });
                    $('#btnSubmitCallLog').on('click', function () {
                        format2();
                        $('#spinner').hide();
                    });
                }
                function format2() {
                    var result = "";
                    $.ajax({
                        type: "POST", //rest Type
                        data: JSON.stringify({
                            value: $('#txtCallLogValue').val(),
                            timeunique: $('#hddTimeUnique').val()
                        }),

                        url: "/report_02_03_InsertCallLog",
                        async: false,
                        contentType: "application/json; charset=utf-8",
                        success: function (msg) {
                            $("#txtCallLogValue").val("");
                            genTable2();
                            $('#exampleModal').modal('hide');
                        }
                    });

                    return result;
                }

                function exportData() {
                    $('#spinner').show();
                    $.ajax({
                        type: "POST", //rest Type
                        data: JSON.stringify({
                            typeID: $('#hddTypeID').val(),
                            channelID: $('#hddChannelID').val(),
                            dtpickerFrom: $('#dtpickerFrom').val(),
                            dtpickerTo: $('#dtpickerTo').val()
                        }),

                        url: "/report_02_01_export",
                        async: false,
                        contentType: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                        success: function (msg) {
                            alert('sss'); $('#spinner').hide();
                            window.location = '/report_02_01_export';
                        }
                    });
                }


            </script>
        </div>
    </div>


</body>
</html>
