<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partial/header_meta.ejs %>
    <%- include partial/header_css.ejs %>
     <link href="../css/datepicker.css" rel="stylesheet" />
</head>
<style type="text/css">
    .hide_column {
        display: none;
    }

    .modal-body label {
        margin-bottom: 1px !important;
    }

    .dataTables_wrapper {
        width: 95%;
        margin-bottom: 20px;
    }

    td.details-control {
        background: url('../img/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('../img/details_close.png') no-repeat center center;
    }

    .ui-datepicker-calendar {
        display: none;
    }

    .dataTables_wrapper {
        width: 99% !important;
    }



    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 100%;
        border-top: 16px solid #3498db;
        width: 60px;
        height: 60px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    table thead {
        font-size: 12px;
        padding: 50px !important;
        background-color: whitesmoke;
        color: black;
    }

    table tbody tr td:not([colspan = "14"]) {
        padding: 5px !important;
    }

    table tbody tr td[colspan = "14"] {
        padding: 0px;
    }

    .txtRight {
        text-align: right;
    }
</style>

<body>
    <input type="hidden" name="dtpickerFromHidden" id="dtpickerFromHidden" value="<%= from %>" />
    <input type="hidden" name="dtpickerToHidden" id="dtpickerToHidden" value="<%= to %>" />
    <input type="hidden" name="dateToHidden" id="dateToHidden" value="<%= date %>" />


    <div class="login-page">
        <div class="form">

            <div id="wrapper">
                <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <%- include partial/nav_header.ejs %>
                    <%- include partial/nav_menu.ejs %>
                </nav>

                <div id="page-wrapper">
                    <div class="row">
                        <div id="spinner">
                            <div class="loader">
                            </div>
                        </div>
                        <div class="col-lg-12">

                            <form method="post">

                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        เงื่อนไขการค้นหา
                                    </div>

                                    <div class="panel-body">
                                        <div class="form-horizontal">

                                            <div class="form-group">
                                                <label class="col-md-2 control-label txtRight" for="name">Serial Number : </label>
                                                <div class="col-md-10">
                                                      <select id="txtSerialNumber" class="form-control" name="serialNumber">   
                                                        <option value=""  > - Select Dealer Name -</option>
                                                        <%  for ( var i = 0; i < lstKiosk.length; i++ ){  %>
                                                        <option value="<%= lstKiosk[i].host_name %>"  <%= (lstKiosk[i].host_name === serialNumber) ? 'selected' : '' %>  > <%= lstKiosk[i].dealer_name + '   (' + lstKiosk[i].host_name + ')'  %></option>
                                                        <%  }   %>   
                                                    </select>                                                    
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="col-md-2 control-label txtRight" for="name">Phone : </label>
                                                <div class="col-md-10">
                                                    <input id="txtPhone" name="phone" type="text" placeholder="Your Phone no." class="form-control" value="<%= phone %>">
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="col-md-2 control-label txtRight" for="name">Ref1 : </label>
                                                <div class="col-md-10">
                                                    <input id="txtRef1" name="ref1" type="text" placeholder="Your Ref1" class="form-control" value="<%= ref1 %>">
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="col-md-2 control-label txtRight" for="name">E-Wallet : </label>
                                                <div class="col-md-10">
                                                    <input id="txtEWallet" name="EWallet" type="text" placeholder="Your E-Wallet" class="form-control" value="<%= EWallet %>">
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="col-md-2 control-label txtRight" for="name">Product Group : </label>
                                                <div class="col-md-10">
                                                    <select id="txtProGroup" class="form-control" name="proGroup">                                                      
                                                        <%  for ( var i = 0; i < lstService.length; i++ ){  %>
                                                        <option value="<%= lstService[i].serviceID %>"  <%= (i == selectProGroup) ? 'selected' : '' %> > <%= lstService[i].serviceName  %></option>
                                                        <%  }   %>   
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="col-md-2 control-label txtRight" for="name">Result TMX : </label>
                                                <div class="col-md-10">
                                                    <select id="ddlErrCode" class="form-control" name="errCode">                                                     
                                                        <%  for ( var i = 0; i < lstErrCode.length; i++ ){  %>
                                                        <option value="<%= lstErrCode[i] %>"  <%= (lstErrCode[i] === selectErrCode) ? 'selected' : '' %> > <%= lstErrCode[i]  %></option>
                                                        <%  }   %>   
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="col-md-2 control-label txtRight" for="name">Result Msg : </label>
                                                <div class="col-md-10">
                                                    <select id="ddlErrMsg" class="form-control" name="errMsg">
                                                         <%  for ( var i = 0; i < lstErrMsg.length; i++ ){  %>
                                                        <option value="<%= lstErrMsg[i] %>"  <%= (lstErrMsg[i] == selectErrMsg) ? 'selected' : '' %> > <%= lstErrMsg[i]  %></option>
                                                        <%  }   %>  
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <label class="col-xs-12 col-sm-2 col-md-2 control-label" for="inputEmail3">วันที่เริ่มต้น : </label>
                                                <div class="col-xs-12 col-sm-4 col-md-4 ">
                                                    <div class="input-group dtpickerFrom">
                                                        <input name="dtpickerFrom" id="dtpickerFrom" style="padding: 6px;" autocomplete="off" class="form-control  dtpicker" value="<%= from %>" />
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <label for="inputPassword3" class="col-xs-12 col-sm-2  col-md-1 control-label">วันที่สิ้นสุด : </label>

                                                <div class="col-xs-12 col-sm-4 col-md-4" style="margin-bottom: 5px;">
                                                    <div class="input-group dtpickerTo">
                                                        <input name="dtpickerTo" id="dtpickerTo" style="padding: 6px;"
                                                            autocomplete="off" class="form-control cancelPadding dtpicker" value="<%= to %>" />
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <div class="col-xs-12 col-sm-12 col-md-12" style="text-align: right; height: 30px;">
                                                    <button class="btn btn-warning btn-sm" name="action"
                                                        formaction="report_03_search" value="search">
                                                        แสดงผล
                                                    </button>
                                                    <button style="margin-left: 5px;" class="btn btn-warning btn-sm" name="action" formaction="report_03_export" value="export">นำออก</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="panel panel-info">
                                <div class="panel-heading" style="min-height: 40px; line-height: 30px">
                                    <div style="float: left;">ผลลัพธ์ การค้นหา </div>

                                </div>
                                <div class="panel-body" style="overflow: auto;">
                                    <table id="adsTable1" class="table table-striped " cellspacing="0" width="100%">
                                        <thead>
                                            <tr id="type1">
                                                <th style="width: 5%; padding: 5px !important;">No.</th>
                                                <th style="display: none;"></th>
                                                <th style="width: 8%; padding: 5px !important;">Serial Number</th>
                                                <th style="width: 8%; padding: 5px !important;">E Wallet</th>
                                                <th style="width: 8%; padding: 5px !important;">Time Stamp</th>
                                                <th style="width: 8%; padding: 5px !important;">Phone</th>
                                                <th style="width: 8%; padding: 5px !important;">Product</th>
                                                <th style="width: 8%; padding: 5px !important;">Select Amount</th>
                                                <th style="width: 8%; padding: 5px !important;">Fee</th>
                                                <th style="width: 8%; padding: 5px !important;">Insert Amount</th>
                                                <th style="width: 8%; padding: 5px !important;">Result Kiosk</th>
                                                <th style="width: 8%; padding: 5px !important;">Result TMX</th>
                                                <th style="width: 8%; padding: 5px !important;">Result Msg</th>
                                                <th style="width: 8%; padding: 5px !important;">Detail More</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade " tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" id="myModal">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="gridSystemModalLabel">Detail</h4>
                        </div>
                        <div class="modal-body" style="font-size: 12px !important; margin-bottom: 0px !important;">
                            <div class="row">
                                <label class="col-md-12 control-label" for="name">Description </label>
                                <br />
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">Serial Number : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailSerialNumber" name="serialNumber" class="form-control" value="<%= phone %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">Transaction ID : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailTransID" name="transid" class="form-control" value="<%= phone %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">Ref 1 : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailRef1" name="ref1" class="form-control" value="<%= phone %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">Select Amount : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailSelAmount" name="sa" class="form-control" value="<%= phone %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">Fee : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailFee" name="fee" class="form-control" value="<%= phone %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">Result TMX : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailRTMX" name="rtms" class="form-control" value="<%= phone %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">FirmWare : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailFirmWare" name="firmWare" class="form-control" value="<%= phone %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">Time : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailTime" type="text" class="form-control" value="<%= phone %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">Phone No : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailPhone" type="text" class="form-control" value="<%= phone %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">Product Name : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailProName" type="text" class="form-control" value="<%= phone %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">Insert Amount : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailInAmount" type="text" class="form-control" value="<%= phone %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">Result : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailResult" type="text" class="form-control" value="<%= phone %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">Result Msg : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailResultMsg" type="text" class="form-control" value="<%= phone %>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-12 control-label" for="name">Money </label>
                                <br />
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">Bank 1000 : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailBank1000" name="serialNumber" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">Bank 500 : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailBank500" name="transid" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">Bank 100 : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailBank100" name="ref1" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">Bank 50 : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailBank50" name="sa" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">BAnk 20 : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailBank20" name="fee" class="form-control" >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">Coin 10 : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailCoin10" type="text" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">Coin 5 : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailCoin5" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">Coin 2 : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailCoin2" type="text" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">Coin 1 : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailCoin1" type="text" class="form-control" >
                                        </div>
                                    </div>                                   
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-md-12 control-label" for="name">Agent Profile </label>
                                <br />
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">Name : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailAgentName" name="serialNumber" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">Email : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailAgentEmail" name="transid" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">Address : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailAgentAddr" name="ref1" style="height:70px;" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">Tel2 : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailAgentTel2" name="sa" class="form-control" >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">LastName : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailLastName" type="text" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">Shop Name : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailShopName" type="text" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">Tel 1 : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailTel1" type="text" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label txtRight" for="name">Channel Name : </label>
                                        <div class="col-md-8">
                                            <label id="txtDetailChannelName" type="text" class="form-control" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->



            <%- include partial/header_js.ejs %>
            <script src="../js/bootstrap-datepicker.js"></script>
            <script src="../js/bootstrap-datepicker-thai.js"></script>
            <script src="../js/locales/bootstrap-datepicker.th.js"></script>
            <script src="//cdn.datatables.net/plug-ins/1.10.16/dataRender/datetime.js"></script>
            <script type="text/javascript">

                var month = new Array();
                month[0] = "01";
                month[1] = "02";
                month[2] = "03";
                month[3] = "04";
                month[4] = "05";
                month[5] = "06";
                month[6] = "07";
                month[7] = "08";
                month[8] = "09";
                month[9] = "10";
                month[10] = "11";
                month[11] = "12";

                var makeDate = new Date();
                CurDate = new Date(makeDate.setMonth(makeDate.getMonth()));
                PreviousDate = new Date(makeDate.setMonth(makeDate.getMonth() - 1));

                $(document).ready(function () { 
                    $('.dtpicker').datepicker({language: 'th-th', "setDate": new Date() })
                   .on('changeDate', function (ev) {
                       $(this).datepicker('hide'); });                  
                    $("#dtpickerFrom").val($("#dtpickerFromHidden").val());
                    $("#dtpickerTo").val($("#dtpickerToHidden").val());

                    if($("#dtpickerFrom").val() == "" &&  $("#dtpickerTo").val() =="" ){
                        GenerateDatetime();
                    }
                    if (<%= isSearch %> == 1 ) {                    
                                 genTable1();
                        }else {
                                 $('#spinner').hide();
                        }                   
                });
                function GenerateDatetime() {
                    if ($("#dateToHidden").val() != null && $("#dateToHidden").val() != "") {
                        $("#dtpickerFrom").val($("#dateToHidden").val());
                        $("#dtpickerTo").val($("#dateToHidden").val());
                    }else {
                        $('.dtpicker').datepicker({ language: 'th-th', "setDate": new Date() })
                            .on('changeDate', function (ev) {
                                $(this).datepicker('hide');
                            });
                        var To = CurDate.getDate() + '/' + month[CurDate.getMonth()] + '/' + CurDate.getFullYear();
                        var From = PreviousDate.getDate() + '/' + month[PreviousDate.getMonth()] + '/' + PreviousDate.getFullYear();
                        $("#dtpickerFrom").val(From);
                        $("#dtpickerTo").val(To);
                    }
                };
                function genTable1() {                     
                    var table = $('#adsTable1').DataTable({
                        "columnDefs": [ {
                            "searchable": false,
                            "orderable": false,
                            "targets": 0
                        } ],
                        "order": [[ 1, 'asc' ]],
                        "bDestroy": true,
                        'bStateSave': true,
                        "fnDraw": false,
                        "bLengthChange": false,
                        "responsive": true,
                        "orderable": false,
                        "language": {
                            "lengthMenu": "แสดงผล _MENU_ ต่อหนึ่งเพจ",
                            "emptyTable": "No data available in table",
                            "info": "แสดงผลที่หน้า _PAGE_ จาก _PAGES_",
                            "infoEmpty": "No records available",
                            "infoFiltered": "(filtered from _MAX_ total records)",
                            "search": "ค้นหา:",
                            "paginate": {
                                "first": "เริ่มต้น",
                                "last": "สุดท้าย",
                                "next": "ต่อไป",
                                "previous": "ก่อนหน้า"
                            }
                        },
                        "ajax": {
                            "url": '/report_03_initialData',
                            "type": 'POST',
                            "data": {
                                serialNumber: $('#txtSerialNumber').val(),
                                phone: $('#txtPhone').val(),
                                ref1: $('#txtRef1').val(),
                                ewallet: $('#txtEWallet').val(),
                                progroup: $('#txtProGroup').val(),
                                errcode: $('#ddlErrCode').val(),
                                errmsg: $('#ddlErrMsg').val(),
                                dtpickerFrom: $('#dtpickerFrom').val(),
                                dtpickerTo: $('#dtpickerTo').val()
                            },
                            "dataSrc": ""
                        },
                       
                        "columns": [
                            { "data": null },
                            { "data": "time_kiosk_id_unique", "defaultContent": "0", "className": "hide_column" },
                            { "data": "serial_number", "defaultContent": "0" },
                            { "data": "true_wallet_id", "defaultContent": "0" },
                            { "data": "time_stamp", "defaultContent": "0" },
                            { "data": "phone_no", "defaultContent": "0" },
                            { "data": "product_name", "defaultContent": "0" },
                            { "data": "select_amount", "defaultContent": "0" },
                            { "data": "fee", "defaultContent": "0" },
                            { "data": "insert_amount", "defaultContent": "0" },
                            { "data": "result", "defaultContent": "0" },
                            { "data": "result_tmx", "defaultContent": "0" },
                            { "data": "result_msg", "defaultContent": "0" },
                            {
                               "className": 'details-control',                           
                               "data": null,
                               "defaultContent": ''
                           }
                        ],
       
                        "initComplete": function () {
                            $('#spinner').hide();
                        }
                    });    
                   table.on( 'order.dt search.dt', function () {
                            table.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                                cell.innerHTML = i+1;
                            } );
                    }).draw();

                    $('#adsTable1 tbody').on('click', 'td.details-control', function () {
                        var tr = $(this).closest('tr');
                        var row = table.row(tr);                      
                            // Open this row
                        row.child(format1(row.data()));    
                    });
                }  

                function format1(d) {
                    var result = "";
                    $.ajax({
                        type: "POST", //rest Type
                        data: JSON.stringify({ 
                            time_kiosk_id_unique: d.time_kiosk_id_unique
                        }),
                        url: "/report_03_DataDetail",
                        async: false,
                        contentType: "application/json; charset=utf-8",
                        success: function (msg) {    
                            if (msg[0] != null) {
                                
                                // Detail
                                $('#txtDetailSerialNumber').text(msg[0].serial_number);
                                $('#txtDetailTransID').text(msg[0].transection_id);
                                $('#txtDetailRef1').text(msg[0].ref1);
                                $('#txtDetailSelAmount').text(msg[0].select_amount);
                                $('#txtDetailFee').text(msg[0].fee);
                                $('#txtDetailRTMX').text(msg[0].result_tmx);
                                $('#txtDetailFirmWare').text(msg[0].fw_version);
                                $('#txtDetailTime').text(msg[0].time_stamp);
                                $('#txtDetailPhone').text(msg[0].phone_no);
                                $('#txtDetailProName').text(msg[0].product_name);
                                $('#txtDetailInAmount').text(msg[0].insert_amount);
                                $('#txtDetailResult').text(msg[0].result);
                                $('#txtDetailResultMsg').text(msg[0].result_msg);

                                // Money
                                $('#txtDetailBank1000').text(msg[0].BANK_1000);
                                $('#txtDetailBank500').text(msg[0].BANK_500);
                                $('#txtDetailBank100').text(msg[0].BANK_100);
                                $('#txtDetailBank50').text(msg[0].BANK_50);
                                $('#txtDetailBank20').text(msg[0].BANK_20);
                                $('#txtDetailCoin10').text(msg[0].COIN_10);
                                $('#txtDetailCoin5').text(msg[0].COIN_5);
                                $('#txtDetailCoin2').text(msg[0].COIN_2);
                                $('#txtDetailCoin1').text(msg[0].COIN_1);

                                // agent Profile                             
                                $('#txtDetailAgentName').text(msg[0].agent_name);
                                $('#txtDetailAgentEmail').text(msg[0].agent_e_mail);
                                $('#txtDetailAgentAddr').text(msg[0].agent_address);
                                $('#txtDetailAgentTel2').text(msg[0].agent_tel_2);
                                $('#txtDetailLastName').text(msg[0].agent_lastname);
                                $('#txtDetailShopName').text(msg[0].shop_name);
                                $('#txtDetailTel1').text(msg[0].agent_tel_1);
                                $('#txtDetailChannelName').text(msg[0].agent_channel_name);

                              $("#myModal").modal("show")
                            }
                           
                        }
                    });
                    return result;
                }              
                function exportData() {
                    $.ajax({
                        type: "POST", //rest Type
                        data: JSON.stringify({
                            dtpickerFrom: $('#dtpickerFrom').val(),
                            dtpickerTo: $('#dtpickerTo').val()
                        }),
                        url: "/report_03_export",
                        async: false,
                        contentType: "application/json; charset=utf-8",
                        success: function (msg) { }
                    });
                }
            </script>
        </div>
    </div>
</body>
</html>
