<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partial/header_meta.ejs %>
    <%- include partial/header_css.ejs %>
    <link href="../css/datepicker.css" rel="stylesheet" />
</head>

<style type="text/css">
    .hide_column {
        display: none;
    }

    .dataTables_wrapper {
        width: 95%;
        margin-bottom: 20px;
    }

    td.details-control {
        background: url('../img/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('../img/details_close.png') no-repeat center center;
    }

    .ui-datepicker-calendar {
        display: none;
    }

    .dataTables_wrapper {
        width: 99% !important;
    }



    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    table thead {
        font-size: 12px;
        padding: 50px !important;
        background-color: whitesmoke;
        color: black;
    }

    table tbody tr td:not([colspan = "14"]) {
        padding: 5px !important;
    }

    table tbody tr td[colspan = "14"] {
        padding: 0px;
    }
</style>

<body>
    <input type="hidden" name="dtpickerHidden" id="dtpickerHidden" value="<%= lstYear%>">
    <input type="hidden" name="dtpickerFromHidden" id="dtpickerFromHidden" value="<%= lstYear %>">
    <input type="hidden" name="dtpickerToHidden" id="dtpickerToHidden" value="<%= lstYear %>">
    <input type="hidden" name="TypeToHidden" id="TypeToHidden" value="<%= lstYear %>">

    <div class="login-page">
        <div class="form">
            <!--<div class="loader" id="spinner"></div>-->
            <div id="wrapper">
                <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;">
                    <%- include partial/nav_header.ejs %>
                    <%- include partial/nav_menu.ejs %>
                </nav>

                <div id="page-wrapper">
                    <div class="row">

                        <div id="spinner">
                            <div class="loader">
                            </div>
                        </div>

                        <div class="col-lg-12">

                            <form method="post">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        เงื่อนไขการค้นหา
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-horizontal">

                                            <div id="divMonth">
                                                <div class="form-group">
                                                    <label class="col-xs-12 col-sm-2 col-md-2 control-label" for="inputEmail3">เริ่มต้น : </label>
                                                    <div class="col-xs-12 col-sm-4 col-md-4 " style="margin-bottom: 5px;">
                                                        <select name="ddlStartMonth" id="ddlStartMonth" style="padding: 6px; float: left; width: 200px" autocomplete="off" class="form-control">
                                                            <% for (var i = 0; i < lstMonth.length; i++) { %>
                                                           <option value="<%= i %>"><%= lstMonth[i].configName %></option>
                                                            <% } %>
                                                        </select>

                                                        <select name="ddlStartMonth" id="ddlStartYear" style="padding: 6px; float: left; width: 100px;" autocomplete="off" class="form-control">
                                                            <% for (var i = 0; i < lstYear.length; i++) { %>
                                                           <option value="<%= i %>"><%= lstYear[i] %></option>
                                                            <% } %>
                                                        </select>
                                                    </div>

                                                    <label for="inputPassword3" class="col-xs-12 col-sm-2  col-md-2 control-label">เดือนสิ้นสุด : </label>
                                                    <div class="col-xs-12 col-sm-4 col-md-4" style="margin-bottom: 5px;">
                                                        <select name="ddlEndMonth" id="ddlEndMonth" style="padding: 6px;float: left; width: 200px;" autocomplete="off" class="form-control">
                                                            <% for (var i = 0; i < lstMonth.length; i++) { %>
                                                           <option value="<%= i %>"><%= lstMonth[i].configName %></option>
                                                            <% } %>
                                                        </select>

                                                        <select name="ddlEndMonth" id="ddlEndYear" style="padding: 6px;float: left; width: 100px;" autocomplete="off" class="form-control">
                                                            <% for (var i = 0; i < lstYear.length; i++) { %>
                                                           <option value="<%= i %>"><%= lstYear[i] %></option>
                                                            <% } %>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>                                  

                                            <div class="col-xs-12 col-sm-12 col-md-12" style="text-align: right;">
                                                <button class="btn btn-warning btn-sm" name="action"
                                                    formaction="report_05_search" value="search">
                                                    แสดงผล
                                                </button>
                                                <button class="btn btn-warning btn-sm" name="action"
                                                    formaction="report_05_export" value="search">
                                                    นำออก
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="panel panel-info">
                                <div class="panel-heading" style="min-height: 40px; line-height: 30px">
                                    <div style="float: left;">ผลลัพธ์ การค้นหา </div>
                                </div>

                                <div class="panel-body" style="overflow: auto;">
                                    <div class="row-fluid">
                                        <label>รายงาน Commission </label>
                                    </div>
                                    <div class="row-fluid">
                                        <table id="adsTable" class="table table-striped " style="table-layout: fixed;" cellspacing="0" width="100%">

                                            <thead>
                                                <tr id="type1">
                                                    <th style="width: 3%;"></th>
                                                    <th style="display: none;"></th>
                                                    <th style="width: 15%; padding: 5px !important;">ป้ายชื่อแถว </th>
                                                    <th style="width: 5%; padding: 5px !important;">จำนวน Transaction </th>
                                                    <th style="width: 5%; padding: 5px !important;">Amount </th>
                                                    <th style="width: 5%; padding: 5px !important;">commission </th>
                                                    <th style="width: 5%; padding: 5px !important;">Vat of commission (excluding vat) = 7% </th>
                                                    <th style="width: 5%; padding: 5px !important;">withholding tax of commission (excluding vat) = 3% </th>
                                                    <th style="width: 5%; padding: 5px !important;">Net Commission (include vat) </th>
                                                </tr>
                                            </thead>

                                        </table>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include partial/header_js.ejs %>
            <script src="../js/bootstrap-datepicker.js"></script>
            <script src="../js/bootstrap-datepicker-thai.js"></script>
            <script src="../js/locales/bootstrap-datepicker.th.js"></script>

            <script type="text/javascript">

             
                $(document).ready(function () {
                    $('.dtpicker')
                    .datepicker({ language: 'th-th', "setDate": new Date() })
                    .on('changeDate', function (ev) {
                        $(this).datepicker('hide');
                    });
                   
                     $('#spinner').hide();
                    if ($("#dtpickerToDate").val() == "") {                       
                    }              
                });

               
                function GenerateDatetime() {

                    if ($("#dateToHidden").val() != null && $("#dateToHidden").val() != "") {
                        $("#dtpickerFrom").val($("#dateToHidden").val());
                        $("#dtpickerTo").val($("#dateToHidden").val());
                        $("#dtpickerToDate").val($("#dateToHidden").val());
                    } else {
                        $('.dtpicker').datepicker({ language: 'th-th', "setDate": new Date() })
                       .on('changeDate', function (ev) {
                           $(this).datepicker('hide');
                       });
                        var From = CurDate.getDate() + '/' + month[CurDate.getMonth()] + '/' + CurDate.getFullYear();
                        var dateTo = CurDate.getDate() + '/' + month[CurDate.getMonth()] + '/' + CurDate.getFullYear();
                        var dateFrom = PreviousDate.getDate() + '/' + month[PreviousDate.getMonth()] + '/' + PreviousDate.getFullYear();
                        $("#dtpickerToDate").val(From);
                        $("#dtpickerFrom").val(dateFrom);
                        $("#dtpickerTo").val(dateTo);

                    }
                };

                function GenDataTable() {
                    $('#spinner').show();
                    $("#type1").attr("style", "display  :table-row;");
                    var table = $('#adsTable').DataTable({
                        "bDestroy": true,
                        'bStateSave': true,
                        "fnDraw": false,
                        "bLengthChange": false,
                        "responsive": true,
                        "orderable": false,
                        "language": {
                            "lengthMenu": "แสดงผล _MENU_ ต่อหนึ่งเพจ",
                            "info": "แสดงผลที่หน้า _PAGE_ จาก _PAGES_",
                            "infoEmpty": "No records available",
                            "infoFiltered": "(filtered from _MAX_ total records)",
                            "search": "ค้นหา:",
                            "paginate": {
                                "first": "เริ่มต้น",
                                "last": "สุดท้าย",
                                "next": "ต่อไป",
                                "previous": "ก่อนหน้า"
                            }
                        },
                        "ajax": {
                            "url": '/report_05_initialData2',
                            "type": 'POST',
                            "data": {
                                dtpickerFrom: $('#dtpickerFrom').val(),
                                dtpickerTo: $('#dtpickerTo').val(),
                                dtpickerToDate: $('#dtpickerToDate').val(),
                                ddlType1: $('#ddlType1').val()
                            },
                            "dataSrc": ""
                        },
                        "columns": [
                           {
                               "className": 'details-control',
                               "orderable": true,
                               "data": null,
                               "defaultContent": ''
                           },
                            { "data": "serialNumber", "defaultContent": "0", "className": "hide_column" },
                            { "data": "dealerName", "defaultContent": "0" },
                            { "data": "transAmount", "defaultContent": "0" },
                            { "data": "moneyAmount", "defaultContent": "0" },
                            { "data": "comission", "defaultContent": "0" },
                            { "data": "vat_of_com", "defaultContent": "0" },
                            { "data": "withholding_tax_of_com", "defaultContent": "0" },
                            { "data": "net_com", "defaultContent": "0" }
                        ],

                        "initComplete": function () {
                            $('#spinner').hide();
                        }
                    });

                    $('#adsTable tbody').on('click', 'td.details-control', function () {

                        var tr = $(this).closest('tr');
                        var row = table.row(tr);

                        if (row.child.isShown()) {
                            // This row is already open - close it
                            row.child.hide();
                            tr.removeClass('shown');
                        }
                        else {
                            // Open this row
                            row.child(format4(row.data())).show();
                            tr.addClass('shown');
                        }
                    });
                }

                function format4(d) {
                    var result = "";
                    $('#spinner').show();

                    $.ajax({
                        type: "POST", //rest Type
                        data: JSON.stringify({
                            dtpickerFrom: $('#dtpickerFrom').val(),
                            dtpickerTo: $('#dtpickerTo').val(),
                            dtpickerToDate: $('#dtpickerToDate').val(),
                            ddlType1: $('#ddlType1').val(),
                            kioskID: d.serialNumber
                        }),
                        url: "/report_05_detailData",
                        async: false,
                        contentType: "application/json; charset=utf-8",
                        success: function (msg) {
                            result = '<table cellpadding="5" cellspacing="0" border="0"  style="padding-left:50px;width:100%;table-layout:fixed;">'

                            for (var key in msg) {
                                result += '<tr>' +
                                '<td style="width: 5%;" ></td>' +
                                '<td style="width: 1%; display:none;">  </td>' +
                                '<td style="width: 13%; padding:5px !important;">' + msg[key].serviceName + '</td>' +
                                '<td style="width: 5%;  padding:5px !important;">' + msg[key].transAmount + '</td>' +
                                '<td style="width: 5%;  padding:5px !important;">' + msg[key].moneyAmount + '</td>' +
                                '<td style="width: 5%;  padding:5px !important;">' + msg[key].comission + '</td>' +
                                '<td style="width: 5%;  padding:5px !important;">' + msg[key].vat_of_com + '</td>' +
                                '<td style="width: 5%;  padding:5px !important;">' + msg[key].withholding_tax_of_com + '</td>' +
                                '<td style="width: 5%;  padding:5px !important;">' + msg[key].net_com + '</td>' +
                            '</tr>';
                            }
                            result += '</table>';
                            $('#spinner').hide();
                        }
                    });

                    return result;
                }

            </script>
        </div>
    </div>
</body>
</html>
