<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partial/header_meta.ejs %>
    <%- include partial/header_css.ejs %>
    <link href="../css/datepicker.css" rel="stylesheet" />
</head>

<style type="text/css">
    .hide_column {
        display: none;
    }

    .dataTables_wrapper {
        width: 95%;
        margin-bottom: 20px;
    }

    td.details-control {
        background: url('../img/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('../img/details_close.png') no-repeat center center;
    }

    .ui-datepicker-calendar {
        display: none;
    }

    .dataTables_wrapper {
        width: 99% !important;
    }

    dt-body-left {
        text-align: right;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    table thead {
        font-size: 12px;
        padding: 50px !important;
        background-color: whitesmoke;
        color: black;
    }

    table tbody tr td:not([colspan = "14"]) {
        padding: 5px !important;
    }

    table tbody tr td[colspan = "14"] {
        padding: 0px;
    }
</style>

<body>
    <input type="hidden" name="dtpickerHidden" id="dtpickerHidden" value="<%= from%>">
    <input type="hidden" name="dtpickerFromHidden" id="dtpickerFromHidden" value="<%= datefrom %>">
    <input type="hidden" name="dtpickerToHidden" id="dtpickerToHidden" value="<%= dateto %>">
  
      <input type="hidden" name="hddTypeID" id="hddTypeID" value="<%= selectedAgentType%>">
    <input type="hidden" name="hddChannelID" id="hddChannelID" value="<%= selectedChannelType%>">
     <input type="hidden" name="hddLevel" id="hddLevel" value="<%= selectedLevel%>">
    <div class="login-page">
        <div class="form">
            <!--<div class="loader" id="spinner"></div>-->
            <div id="wrapper">
                <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;">
                    <%- include partial/nav_header.ejs %>
                    <%- include partial/nav_menu.ejs %>
                </nav>

                <div id="page-wrapper">
                    <div class="row">

                        <div id="spinner">
                            <div class="loader">
                            </div>
                        </div>

                        <div class="col-lg-12">

                            <form method="post">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        เงื่อนไขการค้นหา
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-horizontal">

                                            <div style=" <% if(userLv == 3){ %> display:block <% } else { %> display:none <% } %>" >

                                                  <div class="form-group">
                                                <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="inputEmail3">ระดับผู้ใช้งาน : </label>
                                                <div class="col-xs-12 col-sm-3 col-md-3 ">
                                                    <div class="input-group ">
                                                        
                                                        <select name="ddlLevel" id="ddlLevel"  style="padding: 6px;"  class="form-control cancelPadding">
                                                            <option  value="">กรุณาเลือก</option>
                                                            <% for (var i = 0; i <= userLv; i++) { %>
                                                           <option value="<%= i %>">Level <%= i%></option>
                                                        <% } %>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                            <div class="form-group" >
                                                <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="inputEmail3">Agent Type : </label>
                                                <div class="col-xs-12 col-sm-3 col-md-3 ">
                                                    <div class="input-group">
                                                        
                                                        <select id="ddlType" name="ddlType" class="form-control cancelPadding ">
                                                            <option value="">กรุณาเลือก</option>
                                                            <% for (var i = 0; i < agentType.length; i++) { %>
                                                               <option value="<%= agentType[i].typeID %>" <%= selectedAgentType==agentType[i].typeID ? 'selected' : '' %> > <%= agentType[i].agent_type_name%></option>
                                                            <% } %>
                                                        </select>
                                                    </div>
                                                </div>
                                                <label for="inputPassword3" class="col-xs-12 col-sm-3  col-md-2 control-label">Agent Channel : </label>
                                                <div class="col-xs-12 col-sm-3 col-md-3" style="margin-bottom: 5px;">
                                                    <div class="input-group ">
                                                         <select id="ddlChannel" name="ddlChannel" class="form-control cancelPadding ">
                                                            <option value="">กรุณาเลือก</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                          
                                             </div>

                                            <div id="divMonth">
                                                <div class="form-group">
                                                    <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="inputEmail3">วันที่เริ่มต้น : </label>
                                                    <div class="col-xs-12 col-sm-3 col-md-3 ">
                                                        <div class="input-group dtpickerFrom">
                                                            <input name="dtpickerFrom" id="dtpickerFrom" style="padding: 12px !important;" autocomplete="off" class="form-control cancelPadding dtpicker" value="<%= datefrom %>" />
                                                            <span class="input-group-btn">
                                                                <button id="btnCalendar" class="btn btn-default" type="button" disabled>
                                                                    <i class="fa fa-calendar"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <label for="inputPassword3" class="col-xs-12 col-sm-3  col-md-2 control-label">วันที่สิ้นสุด : </label>
                                                    <div class="col-xs-12 col-sm-3 col-md-3" style="margin-bottom: 5px;">
                                                        <div class="input-group dtpickerTo">
                                                            <input name="dtpickerTo" id="dtpickerTo" style="padding: 12px !important;"
                                                                autocomplete="off" class="form-control cancelPadding dtpicker" value="<%= dateto %>" />
                                                            <span class="input-group-btn">
                                                                <button id="btnCalendar" class="btn btn-default" type="button" disabled>
                                                                    <i class="fa fa-calendar"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>                                         

                                            <div class="col-xs-12 col-sm-12 col-md-12" style="text-align: right;">
                                                <button class="btn btn-warning btn-sm" name="action"
                                                    formaction="report_05_search" value="search">
                                                    แสดงผล
                                                </button>
                                                <button class="btn btn-warning btn-sm" name="action"
                                                    formaction="report_05_exportOnlyCom" value="search">
                                                     นำออกเฉพาะ Comission
                                                </button>
                                                <button class="btn btn-warning btn-sm" name="action"
                                                    formaction="report_05_export" value="search">
                                                    นำออก Comission และ Transaction
                                                </button>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="panel panel-info" style=" <% if(issearch == 1){ %> display:block;overflow: auto; <% } else { %> display:none;overflow: auto; <% } %> ">
                                <div class="panel-heading" style="min-height: 40px; line-height: 30px">
                                    <div style="float: left;">ผลลัพธ์ การค้นหา 
                                        <label id="lblKioskCount"></label>
                                    </div>
                                </div>

                                <div class="panel-body"   >
                                    <div class="row-fluid">
                                        <label>รายงาน Commission </label>
                                    </div>

                                    <div class="row-fluid">
                                        <div class="col-md-6">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>บริการตู้เติมทรู</th>
                                                            <th>Comission Rate</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% for (var i = 0; i < service.length; i++) { %>
                                                        <tr>
                                                            <td><%= service[i].serviceName %>
                                                            </td>
                                                            <td><%= service[i].com %></td>
                                                        </tr>
                                                        <% } %>

                                                    </tbody>
                                                </table>
                                                <label>หมายเหตุ</label><br />
                                                <label>1.Net Commission (include vat)</label><br />
                                                <label>2. Commission คำนวนจากยอดเงินไขตู้</label><br />
                                                <label>3. รายงานยอดขายและผลตอบแทน ตัดรอบทุกวันที่สิ้นเดือน เที่ยงคืนของทุกเดือน</label><br />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" 
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">คำอธิบายแต่ละรายการ</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>รายการ</th>
                                                                <th>คำอธิบายรายการ</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        
                                                            <tr>
                                                                <td>Number of transaction</td>
                                                                <td>จำนวนครั้งที่ทำรายการ</td>
                                                            </tr>
                                                        
                                                            <tr>
                                                                <td>Amount</td>
                                                                <td>ผลรวมจำนวนเงินทั้งหมด</td>
                                                            </tr>
                                                        
                                                            <tr>
                                                                <td>Commission (excluding vat)
                                                                </td>
                                                                <td>ผมรวมคอมมิชชั่นทั้งหมดไม่รวมภาษี</td>
                                                            </tr>
                                                        
                                                            <tr>
                                                                <td>Vat of commission (excluding vat) = 7% :
                                                                </td>
                                                                <td>ผลรวมภาษี 7% คิดจากคอมมิชชั่น</td>
                                                            </tr>
                                                        
                                                            <tr>
                                                                <td>Withholding tax of commission (excluding vat) = 3% :
                                                                </td>
                                                                <td>3%</td>
                                                            </tr>
                                                        
                                                            <tr>
                                                                <td>Net Commission (include vat) :
                                                                </td>
                                                                <td>ผมรวมจำนวนเงินรวมค่าคอมมิชชั่น</td>
                                                            </tr>                                                       
                                                          
                                                        </tbody>
                                                    </table>
                                                    </div>
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                                                                        </div>
                                                </div>
                                                </div>
                                            </div>

                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th colspan="2">สรุปรายงานประจำเดือน
                                                            <a href="#" data-toggle="modal" 
                                                                data-target="#exampleModal"> (คำอธิบายรายการ) </a> 
                                                        </th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!--<tr>
                                                        <td> บริษัท : </td>
                                                        <td> <%= company %> </td>

                                                    </tr>-->
                                                    <tr>
                                                        <td>Number of transaction </td>
                                                        <td style="text-align:right;"><%= (typeof numberTrans != "undefined" && numberTrans ) ?  numberTrans.toFixed(0).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") : '0' %></td>

                                                    </tr>
                                                    <tr>
                                                        <td>Amount</td>
                                                        <td style="text-align:right;"><%= (typeof moneyAmount != "undefined" && moneyAmount ) ? moneyAmount.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") : '0' %></td>

                                                    </tr>
                                                    <tr>
                                                        <td>Commission (excluding vat)  </td>
                                                        <td style="text-align:right;"><%= (typeof comission != "undefined" && comission ) ? comission.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") : '0' %></td>

                                                    </tr>
                                                    <tr>
                                                        <td>Vat of commission (excluding vat) = 7% : </td>
                                                        <td style="text-align:right;"><%= (typeof vat_of_com != "undefined" && vat_of_com) ? vat_of_com.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") : '0' %></td>

                                                    </tr>
                                                    <tr>
                                                        <td>Withholding tax of commission (excluding vat) = 3% : </td>
                                                        <td style="text-align:right;"><%= (typeof withholding_tax_of_com != "undefined" && withholding_tax_of_com) ? withholding_tax_of_com.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") : '0' %></td>

                                                    </tr>
                                                    <tr>
                                                        <td>Net Commission (include vat) : </td>
                                                        <td style="text-align:right;"><%= (typeof net_com != "undefined" && net_com) ? net_com.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") : '0' %></td>

                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>

                                    <div class="row-fluid">
                                        <table id="adsTable" class="table table-striped " style="table-layout: fixed;" cellspacing="0" width="100%">

                                            <thead>
                                                <tr id="type1">
                                                    <th style="width: 3%;"></th>
                                                    <th style="display: none;"></th>
                                                    <th style="width: 15%; padding: 5px !important;text-align:center;">ป้ายชื่อแถว </th>
                                                    <th style="width: 5%; padding: 5px !important;text-align:center;">จำนวน Transaction </th>
                                                    <th style="width: 5%; padding: 5px !important;text-align:center;">Amount </th>
                                                    <th style="width: 5%; padding: 5px !important;text-align:center;">commission </th>
                                                    <th style="width: 5%; padding: 5px !important;text-align:center;">Vat of commission (excluding vat) = 7% </th>
                                                    <th style="width: 5%; padding: 5px !important;text-align:center;">withholding tax of commission (excluding vat) = 3% </th>
                                                    <th style="width: 5%; padding: 5px !important;text-align:center;">Net Commission (include vat) </th>
                                                </tr>
                                            </thead>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include partial/header_js.ejs %>
            <script src="../js/bootstrap-datepicker.js"></script>
            <script src="../js/bootstrap-datepicker-thai.js"></script>
            <script src="../js/locales/bootstrap-datepicker.th.js"></script>
            
 
            <script type="text/javascript">

                var month = new Array();
                month[0] = "01";
                month[1] = "02";
                month[2] = "03";
                month[3] = "04";
                month[4] = "05";
                month[5] = "06";
                month[6] = "07";
                month[7] = "08";
                month[8] = "09";
                month[9] = "10";
                month[10] = "11";
                month[11] = "12";

                var makeDate = new Date();
                makeDate.setYear(makeDate.getFullYear() + 543);
                CurDate = new Date(makeDate.setMonth(makeDate.getMonth()));
                PreviousDate = new Date(makeDate.setMonth(makeDate.getMonth() - 1));

                $(document).ready(function () {

                    BindingDdl(true);

                    $('#ddlType').change(function () {
                        BindingDdl(false);
                        $('#hddTypeID').val($('#ddlType').val());
                    });

                    $('#ddlChannel').change(function () {
                        $('#hddChannelID').val($('#ddlChannel').val());
                    });

                    $('#ddlLevel').change(function () {
                        $('#hddLevel').val($('#ddlLevel').val());
                    });

                    $('#ddlLevel').val(<%= selectedLevel %>)


                    $('.dtpicker')
                        .datepicker({ language: 'th-th', "setDate": new Date() })
                        .on('changeDate', function (ev) {
                            $(this).datepicker('hide');
                        });


                    $("#dtpickerFrom").val($("#dtpickerFromHidden").val());
                    $("#dtpickerTo").val($("#dtpickerToHidden").val());
                    $("#dtpickerToDate").val($("#dtpickerHidden").val());


                    if ($("#dtpickerToDate").val() == "") {

                        GenerateDatetime();
                    }


                    if (<%= issearch %> == 1 ) {                    
                    GenDataTable();
                }else {
                    $('#spinner').hide();
                } 

                   
                });



                function GenerateDatetime() {

                    if ($("#dateToHidden").val() != null && $("#dateToHidden").val() != "") {

                        $("#dtpickerFrom").val($("#dateToHidden").val());
                        $("#dtpickerTo").val($("#dateToHidden").val());
                        $("#dtpickerToDate").val($("#dateToHidden").val());

                    } else {
                        $('.dtpicker').datepicker({ language: 'th-th', "setDate": new Date() })
                            .on('changeDate', function (ev) {

                                $(this).datepicker('hide');
                            });
                        var From = CurDate.getDate() + '/' + month[CurDate.getMonth()] + '/' + CurDate.getFullYear();
                        var dateTo = CurDate.getDate() + '/' + month[CurDate.getMonth()] + '/' + CurDate.getFullYear();
                        var dateFrom = PreviousDate.getDate() + '/' + month[PreviousDate.getMonth()] + '/' + PreviousDate.getFullYear();

                        $("#dtpickerToDate").val(From);
                        $("#dtpickerFrom").val(dateFrom);
                        $("#dtpickerTo").val(dateTo);

                    }
                };

                function BindingDdl(isRefresh) {
                    $.ajax({
                        url: '/report_02_01_initialChannel',
                        dataType: 'json',
                        type: 'POST',
                        // This is query string i.e. country_id=123
                        data: { agentType: $('#ddlType').val() },
                        success: function (data) {
                            $('#ddlChannel').empty(); // clear the current elements in select box
                            $('#ddlChannel').append($('<option></option>').attr('value', '').text('กรุณาเลือก'));
                            for (row in data) {
                                $('#ddlChannel').append($('<option></option>').attr('value', data[row].channelID).text(data[row].agent_channel_name));
                            }
                            if (isRefresh == true) {
                                $('#ddlChannel').val(<%= selectedChannelType %>);
                            } else {
                                $('#ddlChannel').val('');
                            }


                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(errorThrown);
                        }
                    });
                };

                function GenDataTable() {
                    $('#spinner').show();

                    $("#type1").attr("style", "display  :table-row;");

                    var table = $('#adsTable').DataTable({
                        "bDestroy": true,
                        'bStateSave': true,
                        "fnDraw": false,
                        "bLengthChange": false,
                        "responsive": true,
                        "orderable": false,

                        "language": {
                            "lengthMenu": "แสดงผล _MENU_ ต่อหนึ่งเพจ",
                            "info": "แสดงผลที่หน้า _PAGE_ จาก _PAGES_",
                            "infoEmpty": "No records available",
                            "infoFiltered": "(filtered from _MAX_ total records)",
                            "search": "ค้นหา:",
                            "paginate": {
                                "first": "เริ่มต้น",
                                "last": "สุดท้าย",
                                "next": "ต่อไป",
                                "previous": "ก่อนหน้า"
                            }
                        },
                        "ajax": {
                            "url": '/report_05_initialData',
                            "type": 'POST',
                            "data": {
                                dtpickerFrom: $('#dtpickerFrom').val(),
                                dtpickerTo: $('#dtpickerTo').val(),
                                dtpickerToDate: $('#dtpickerToDate').val(),
                                typeID: $('#hddTypeID').val(),
                                channelID: $('#hddChannelID').val(),
                                level: $('#hddLevel').val()
                            },
                            "dataSrc": ""
                        },
                        "columns": [
                            {
                                "className": 'details-control',
                                "orderable": true,
                                "data": null,
                                "defaultContent": ''
                            },
                            { "data": "serialNumber", "defaultContent": "0", "className": "hide_column" },
                            { "data": "aliasName", "defaultContent": "0" },
                            { "data": "transAmount", "defaultContent": "0", className: "dt-body-center", render: $.fn.dataTable.render.number(',', '.', 0, '') },
                            { "data": "moneyAmount", "defaultContent": "0", className: "dt-body-center", render: $.fn.dataTable.render.number(',', '.', 2, '') },
                            { "data": "comission", "defaultContent": "0", className: "dt-body-center", render: $.fn.dataTable.render.number(',', '.', 2, '') },
                            { "data": "vat_of_com", "defaultContent": "0", className: "dt-body-center", render: $.fn.dataTable.render.number(',', '.', 2, '') },
                            { "data": "withholding_tax_of_com", "defaultContent": "0", className: "dt-body-center", render: $.fn.dataTable.render.number(',', '.', 2, '') },
                            { "data": "net_com", "defaultContent": "0", className: "dt-body-center", render: $.fn.dataTable.render.number(',', '.', 2, '') }
                        ],
                        "columnDefs": [
                            { className: "dt-body-left", "targets": [2] }
                        ],

                        "initComplete": function () {
                            $('#spinner').hide();

                            var table = $('#adsTable').DataTable();
                            $('#lblKioskCount').text("จำนวน " + table.data().count() + " ตู้");
                        }
                    });

                    $('#adsTable tbody').on('click', 'td.details-control', function () {

                        var tr = $(this).closest('tr');
                        var row = table.row(tr);

                        if (row.child.isShown()) {
                            // This row is already open - close it
                            row.child.hide();
                            tr.removeClass('shown');
                        }
                        else {
                            // Open this row
                            row.child(format4(row.data())).show();
                            tr.addClass('shown');
                        }
                    });
                }

                function format4(d) {
                    var result = "";
                    $('#spinner').show();

                    $.ajax({
                        type: "POST", //rest Type
                        data: JSON.stringify({
                            dtpickerFrom: $('#dtpickerFrom').val(),
                            dtpickerTo: $('#dtpickerTo').val(),
                            dtpickerToDate: $('#dtpickerToDate').val(),
                            typeID: $('#hddTypeID').val(),
                            channelID: $('#hddChannelID').val(),
                            level: $('#hddLevel').val(),
                            kioskID: d.serialNumber
                        }),
                        url: "/report_05_detailData",
                        async: false,
                        contentType: "application/json; charset=utf-8",
                        success: function (msg) {
                            result = '<table cellpadding="5" cellspacing="0" border="0"  style="padding-left:50px;width:100%;table-layout:fixed;">'

                            for (var key in msg) {
                                result += '<tr>' +
                                    '<td style="width: 5%;" ></td>' +
                                    '<td style="width: 1%; display:none;">  </td>' +
                                    '<td style="width: 13%; padding:5px !important;text-align:center;">' + msg[key].serviceName + '</td>' +
                                    '<td style="width: 5%;  padding:5px !important;text-align:center;">' + msg[key].transAmount.toFixed(0).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + '</td>' +
                                    '<td style="width: 5%;  padding:5px !important;text-align:center;">' + msg[key].moneyAmount.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + '</td>' +
                                    '<td style="width: 5%;  padding:5px !important;text-align:center;">' + msg[key].comission.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + '</td>' +
                                    '<td style="width: 5%;  padding:5px !important;text-align:center;">' + msg[key].vat_of_com.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + '</td>' +
                                    '<td style="width: 5%;  padding:5px !important;text-align:center;">' + msg[key].withholding_tax_of_com.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + '</td>' +
                                    '<td style="width: 5%;  padding:5px !important;text-align:center;">' + msg[key].net_com.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + '</td>' +
                                    '</tr>';
                            }
                            result += '</table>';
                            $('#spinner').hide();
                        }
                    });

                    return result;
                }

            </script>
        </div>
    </div>
</body>
</html>
