<!DOCTYPE html>
    <html lang="en">

        <head>
            <%- include partial/header_meta.ejs %>
    <%- include partial/header_css.ejs %>
    <link href="../css/datepicker.css" rel="stylesheet" />
        </head>
        <style type="text/css">
            table tr td {
                text - align: right;
    }



    table tr th {
                text - align: right;
    }

    .dataTables_wrapper {
                width: 95%;
        margin-bottom: 20px;
    }

    td.details-control {
                background: url('../img/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
                background: url('../img/details_close.png') no-repeat center center;
    }

    .ui-datepicker-calendar {
                display: none;
    }

    .dataTables_wrapper {
                width: 99% !important;
    }

    table {
                table - layout: fixed;
    }

        table thead {
                font - size: 12px;
            padding: 50px !important;
            background-color: whitesmoke;
            color: black;
        }

        table tbody tr td:not([colspan = "14"]) {
                padding: 5px !important;
        }

        table tbody tr td[colspan = "14"] {
                padding: 0px;
        }

        table tbody tr td[colspan = "19"] {
                padding: 0px !important;
        }

        table tbody tr td[colspan = "18"] {
                padding: 0px !important;
        }

        table tbody tr td {
                table - layout: fixed;
            overflow: hidden;
            word-wrap: break-word;
        }

    div.dataTables_wrapper {
                margin: 0 auto;
    }

    div.container {
                width: 100%;
    }
</style>

        <body>
            <input type="hidden" name="dtpickerFromHidden" id="dtpickerFromHidden" value="<%= from%>">
                <input type="hidden" name="dtpickerToHidden" id="dtpickerToHidden" value="<%= to%>">
                    <input type="hidden" name="dateToHidden" id="dateToHidden" value="<%= date%>">
                        <div class="login-page">
                            <div class="form">

                                <div id="wrapper">
                                    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                                        <%- include partial/nav_header.ejs %>
                    <%- include partial/nav_menu.ejs %>
                </nav>

                                    <div id="page-wrapper">

                                        <div class="row">
                                            <div id="spinner">
                                                <div class="loader">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">


                                                <form method="post">
                                                    <div class="panel panel-info">
                                                        <div class="panel-heading">
                                                            เงื่อนไขการค้นหา
                                                        </div>
                                                        <div class="panel-body">
                                                            <div class="form-horizontal">
                                                            <div class="form-group">
                                                                    <label class="col-xs-12 col-sm-3  col-md-2 control-label" for="inputEmail3">ประเภทการค้นหา : </label>
                                                                    <div class="col-xs-12 col-sm-9  col-md-3">
                                                                        <select class="form-control" id="sel1" name="sel1" value="<%= type %>">
                                                                        <!--<option value="1">รายเครื่อง</option> -->
                                                                            <option value="3">รายเครื่อง</option>
                                                                            <option value="2">รายสินค้า</option>
                                                                        </select>
                                                                    </div>


                                                                    <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="inputEmail3">รหัสเครื่องเติมเงิน : </label>
                                                                    <div class="col-xs-12 col-sm-3 col-md-3 ">
                                                                        <input class="form-control" type="text" name="txtKioskID" id="txtKioskID" value="<%= txtKioskID %>" />
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="inputEmail3">วันที่เริ่มต้น : </label>
                                                                    <div class="col-xs-12 col-sm-3 col-md-3 ">
                                                                        <div class="input-group dtpickerFrom">
                                                                            <input name="dtpickerFrom" id="dtpickerFrom" style="padding: 12px !important;" autocomplete="off" class="form-control cancelPadding dtpicker" value="<%= from %>" />
                                                                            <span class="input-group-btn">
                                                                                <button id="btnCalendar" class="btn btn-default" type="button" disabled>
                                                                                    <i class="fa fa-calendar"></i>
                                                                                </button>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <label for="inputPassword3" class="col-xs-12 col-sm-3  col-md-2 control-label">วันที่สิ้นสุด : </label>
                                                                    <div class="col-xs-12 col-sm-3 col-md-3" style="margin-bottom: 5px;">
                                                                        <div class="input-group dtpickerTo">
                                                                            <input name="dtpickerTo" id="dtpickerTo" style="padding: 12px !important;"
                                                                                autocomplete="off" class="form-control cancelPadding dtpicker" value="<%= to %>" />
                                                                            <span class="input-group-btn">
                                                                                <button id="btnCalendar" class="btn btn-default" type="button" disabled>
                                                                                    <i class="fa fa-calendar"></i>
                                                                                </button>
                                                                            </span>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-xs-12 col-sm-12 col-md-12" style="text-align: right; height: 30px;">
                                                                        <button class="btn btn-warning btn-sm" name="action"
                                                                            formaction="report_06_search" value="search">
                                                                            แสดงผล
                                                    </button>
                                                                        <button style="margin-left: 5px;" class="btn btn-warning btn-sm" name="action" formaction="report_06_export" value="export">นำออก</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <div class="panel panel-info">
                                                    <div class="panel-heading" style="min-height: 40px; line-height: 30px">
                                                        <div style="float: left;">ผลลัพธ์ การค้นหา </div>

                                                    </div>
                                                    <div class="panel-body" style="overflow:auto;max-height:600px;">
                                                        <div style="width:1700px;">

                                                            <table id="adsTable1" class="stripe row-border order-column" style="width:100%;" cellspacing="0">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="width: 5%; "></th>
                                                                        <th style="width: 10%; padding: 5px !important;">รหัสเครื่องเติมเงิน</th>
                                                                        <th style="width: 5%; padding: 5px !important;">เหรียญ 10 </th>
                                                                        <th style="width: 5%; padding: 5px !important;">เหรียญ 5 </th>
                                                                        <th style="width: 5%; padding: 5px !important;">เหรียญ 2 </th>
                                                                        <th style="width: 5%; padding: 5px !important;">เหรียญ 1 </th>
                                                                        <th style="width: 5%; padding: 5px !important;">ธนบัตร 1000 </th>
                                                                        <th style="width: 5%; padding: 5px !important;">ธนบัตร 500 </th>
                                                                        <th style="width: 5%; padding: 5px !important;">ธนบัตร 100 </th>
                                                                        <th style="width: 5%; padding: 5px !important;">ธนบัตร 50 </th>
                                                                        <th style="width: 5%; padding: 5px !important;">ธนบัตร 20 </th>
                                                                        <th style="width: 5%; padding: 5px !important;">ยอดเงินไขตู้</th>
                                                                        <th style="width: 5%; padding: 5px !important;">ยอดเงินสะสมภายในตู้</th>
                                                                        <th style="width: 5%; padding: 5px !important;">ผลรวมทั้งหมด</th>
                                                                    </tr>

                                                                </thead>
                                                            </table>

                                                            <table id="adsTable2" class="stripe row-border order-column" style="display:none;table-layout:fixed;word-break:break-word;width:1500px;" cellspacing="0">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="width: 15px; "></th>
                                                                        <!--<!--<th style="width: 10%; padding: 5px !important;">Site ID</th>
                                                                        <th style="width: 10%; padding: 5px !important;">Code shop</th>-->

                                                    <th style="width: 100px; padding: 5px !important;">รายการสินค้า</th>
                                                                        <th style="width: 5%; padding: 5px !important;">เหรียญ 10 </th>
                                                                        <th style="width: 5%; padding: 5px !important;">เหรียญ 5 </th>
                                                                        <th style="width: 5%; padding: 5px !important;">เหรียญ 2 </th>
                                                                        <th style="width: 5%; padding: 5px !important;">เหรียญ 1 </th>
                                                                        <th style="width: 5%; padding: 5px !important;">ธนบัตร 1000 </th>
                                                                        <th style="width: 5%; padding: 5px !important;">ธนบัตร 500 </th>
                                                                        <th style="width: 5%; padding: 5px !important;">ธนบัตร 100 </th>
                                                                        <th style="width: 5%; padding: 5px !important;">ธนบัตร 50 </th>
                                                                        <th style="width: 5%; padding: 5px !important;">ธนบัตร 20 </th>
                                                                        <th style="width: 5%; padding: 5px !important;">insert amount</th>
                                                                        <th style="width: 5%; padding: 5px !important;">fee</th>
                                                                        <th style="width: 5%; padding: 5px !important;">select amount</th>
                                                                        <th style="width: 5%; padding: 5px !important;">Commision rate</th>
                                                                        <th style="width: 5%; padding: 5px !important;">commission</th>
                                                                        <th style="width: 5%; padding: 5px !important;">Vat of commission (excluding vat) = 7%</th>
                                                                        <th style="width: 5%; padding: 5px !important;">withholding tax of commission (excluding vat) = 3% </th>
                                                                        <th style="width: 5%; padding: 5px !important;">Net Commission (include vat)</th>
                                                                    </tr>

                                                                </thead>
                                                            </table>

                                                            <table id="adsTable3" class="stripe row-border order-column" style="display: none;" cellspacing="0">
                                                                <thead>
                                                                    <tr>
                                                                        <!--<th style="width: 10%; padding: 5px !important;">Site ID</th>
                                                                        <th style="width: 10%; padding: 5px !important;">Code shop</th>-->
                                                    <th style="width: 5%; padding: 5px !important;text-align:center !important;">รหัสเครื่องเติมเงิน</th>
                                                                        <th style="width: 5%; padding: 5px !important;">เหรียญ 10 </th>
                                                                        <th style="width: 5%; padding: 5px !important;">เหรียญ 5 </th>
                                                                        <th style="width: 5%; padding: 5px !important;">เหรียญ 2 </th>
                                                                        <th style="width: 5%; padding: 5px !important;">เหรียญ 1 </th>
                                                                        <th style="width: 5%; padding: 5px !important;">ธนบัตร 1000 </th>
                                                                        <th style="width: 5%; padding: 5px !important;">ธนบัตร 500 </th>
                                                                        <th style="width: 5%; padding: 5px !important;">ธนบัตร 100 </th>
                                                                        <th style="width: 5%; padding: 5px !important;">ธนบัตร 50 </th>
                                                                        <th style="width: 5%; padding: 5px !important;">ธนบัตร 20 </th>
                                                                        <th style="width: 5%; padding: 5px !important;">insert amount</th>
                                                                        <th style="width: 5%; padding: 5px !important;">select amount</th>
                                                                        <th style="width: 5%; padding: 5px !important;">Commision rate</th>
                                                                        <th style="width: 5%; padding: 5px !important;">commission</th>
                                                                        <th style="width: 5%; padding: 5px !important;">Vat of commission (excluding vat) = 7%</th>
                                                                        <th style="width: 10%; padding: 5px !important;">withholding tax of commission (excluding vat) = 3% </th>
                                                                        <th style="width: 10%; padding: 5px !important;">Net Commission (include vat)</th>
                                                                        <th style="width: 5%; padding: 5px !important;">ยอดเงินไขตู้</th>
                                                                        <th style="width: 5%; padding: 5px !important;">ยอดเงินสะสมภายในตู้</th>
                                                                    </tr>

                                                                </thead>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <%- include partial/header_js.ejs %>
            <script src="../js/bootstrap-datepicker.js"></script>
                                <script src="../js/bootstrap-datepicker-thai.js"></script>
                                <script src="../js/locales/bootstrap-datepicker.th.js"></script>
                                <script type="text/javascript">

                                    var month = new Array();
                month[0] = "01";
                month[1] = "02";
                month[2] = "03";
                month[3] = "04";
                month[4] = "05";
                month[5] = "06";
                month[6] = "07";
                month[7] = "08";
                month[8] = "09";
                month[9] = "10";
                month[10] = "11";
                month[11] = "12";

                var makeDate = new Date();
                makeDate.setYear(makeDate.getFullYear()+543);
                CurDate = new Date(makeDate.setMonth(makeDate.getMonth()));
                PreviousDate = new Date(makeDate.setMonth(makeDate.getMonth() - 1));

                $(document).ready(function () {
                    $('#sel1').val(<%= type %>);
                    $('.dtpicker').datepicker({language: 'th-th', "setDate": new Date() })
                   .on('changeDate', function (ev) {
                                        $(this).datepicker('hide');
                                    });

                    $("#dtpickerFrom").val($("#dtpickerFromHidden").val());
                    $("#dtpickerTo").val($("#dtpickerToHidden").val());

                    if($("#dtpickerFrom").val() == "" &&  $("#dtpickerTo").val() =="" ){
                                        GenerateDatetime();
                                    }
                    GenerateDataTable();

                });

                function GenerateDatetime() {


                    if ($("#dateToHidden").val() != null && $("#dateToHidden").val() != "") {

                                        $("#dtpickerFrom").val($("#dateToHidden").val());
                                    $("#dtpickerTo").val($("#dateToHidden").val());
                    }else {
                                        $('.dtpicker').datepicker({ language: 'th-th', "setDate": new Date() })
                                            .on('changeDate', function (ev) {
                                                $(this).datepicker('hide');
                                            });

                        var To = CurDate.getDate() + '/' + month[CurDate.getMonth()] + '/' + CurDate.getFullYear();
                        var From = PreviousDate.getDate() + '/' + month[PreviousDate.getMonth()] + '/' + PreviousDate.getFullYear();
                        $("#dtpickerFrom").val(From);
                        $("#dtpickerTo").val(To);
                    }
                };

                function GenerateDataTable() {
                                        $('#spinner').show();

                                    if($('#sel1').val() == '1'  ){
                                        $("#adsTable1").attr("style", "display  :table;");
                                    $("#adsTable2").attr("style", "display  :none;");
                        $("#adsTable3").attr("style", "display  :none;");
                        genTable1();

                    }
                    else if($('#sel1').val() == '3'){
                                        $("#adsTable1").attr("style", "display  :none;");
                                    $("#adsTable2").attr("style", "display  :none;");
                        $("#adsTable3").attr("style", "display  :table-row;");
                        genTable3();
                    }
                    else {
                                        table = $('#adsTable2');
                                    $("#adsTable1").attr("style", "display  :none;");
                        $("#adsTable2").attr("style", "display  :table-row;");
                        $("#adsTable3").attr("style", "display  :none;");
                        genTable2();
                    }

                    return false;
                }
                function genTable1() {
                    var table = $('#adsTable1').DataTable({
                        "scrollY":"300px",
                        "bDestroy": true,
                        'bStateSave': true,
                        "fnDraw": false,
                        "bLengthChange": false,
                        "responsive": true,
                        "orderable": false,

                        "language": {
                            "lengthMenu": "แสดงผล _MENU_ ต่อหนึ่งเพจ",
                            "emptyTable": "No data available in table",
                            "info": "แสดงผลที่หน้า _PAGE_ จาก _PAGES_",
                            "infoEmpty": "No records available",
                            "infoFiltered": "(filtered from _MAX_ total records)",
                            "search": "ค้นหา:",
                            "paginate": {
                                "first": "เริ่มต้น",
                                "last": "สุดท้าย",
                                "next": "ต่อไป",
                                "previous": "ก่อนหน้า"
                            }
                        },

                        "ajax": {
                            "url": '/report_06_submit',
                            "type": 'POST',
                            "data": {
                                sel: $('#sel1').val(),
                                dtpickerFrom: $('#dtpickerFrom').val(),
                                dtpickerTo: $('#dtpickerTo').val()
                            },
                            "dataSrc": ""
                        },
                        "columns": [
                           {
                               "className": 'details-control',
                               "orderable": true,
                               "data": null,
                               "defaultContent": ''

                           },
                            {"data": "col1" ,"defaultContent": "0"},
                            {"data": "col2" ,"defaultContent": "0"},
                            {"data": "col3" ,"defaultContent": "0"},
                            {"data": "col4" ,"defaultContent": "0"},
                            {"data": "col5" ,"defaultContent": "0"},
                            {"data": "col6" ,"defaultContent": "0"},
                            {"data": "col7" ,"defaultContent": "0"},
                            {"data": "col8" ,"defaultContent": "0"},
                            {"data": "col9" ,"defaultContent": "0"},
                            {"data": "col10","defaultContent": "0" },
                            {"data": "col11","defaultContent": "0" },
                            {"data": "col12","defaultContent": "0" },
                            {"data": "col13","defaultContent": "0" }

                        ],

                        "initComplete": function() {
                                        $('#spinner').hide();
                        }
                    });
                    $('#adsTable1 tbody').on('click', 'td.details-control', function () {
                        var tr = $(this).closest('tr');
                        var row = table.row(tr);

                        if (row.child.isShown()) {
                                        // This row is already open - close it
                                        row.child.hide();
                                    tr.removeClass('shown');
                        }
                        else {
                            // Open this row
                            if($('#sel1').val() == '1'){
                                        row.child(format1(row.data())).show();
                                    } else if($('#sel1').val() == '2') {
                                        row.child(format2(row.data())).show();

                                    } else{
                                        row.child(format3(row.data())).show();
                                    }
                            tr.addClass('shown');
                        }
                    });
                }
                function genTable2() {
                    var table = $('#adsTable2').DataTable({
                        "scrollY":"300px",
                        "scrollCollapse": true,
                        "bDestroy": true,
                        'bStateSave': true,
                        "fnDraw": false,
                        "bLengthChange": false,
                        "responsive": true,
                        "orderable": false,
                        "fixedHeader": {
                                        "header": true
                        },
                        "language": {
                            "lengthMenu": "แสดงผล _MENU_ ต่อหนึ่งเพจ",
                            "emptyTable": "No data available in table",
                            "info": "แสดงผลที่หน้า _PAGE_ จาก _PAGES_",
                            "infoEmpty": "No records available",
                            "infoFiltered": "(filtered from _MAX_ total records)",
                            "search": "ค้นหา:",
                            "paginate": {
                                "first": "เริ่มต้น",
                                "last": "สุดท้าย",
                                "next": "ต่อไป",
                                "previous": "ก่อนหน้า"
                            }
                        },

                        "ajax": {
                            "url": '/report_06_submit',
                            "type": 'POST',
                            "data": {
                                sel: $('#sel1').val(),
                                dtpickerFrom: $('#dtpickerFrom').val(),
                                dtpickerTo: $('#dtpickerTo').val(),
                                txtKioskID: $('#txtKioskID').val()
                            },
                            "dataSrc": ""
                        },
                        "columns": [
                           {
                               "className": 'details-control',
                               "orderable": true,
                               "data": null,
                               "defaultContent": ''

                           },
                            //{"data": "col19","defaultContent": "" },
                            //{"data": "col20","defaultContent": "" },
                            {"data": "col1" ,"defaultContent": "0"},
                            {"data": "col2" ,"defaultContent": "0"},
                            {"data": "col3" ,"defaultContent": "0"},
                            {"data": "col4" ,"defaultContent": "0"},
                            {"data": "col5" ,"defaultContent": "0"},
                            {"data": "col6" ,"defaultContent": "0"},
                            {"data": "col7" ,"defaultContent": "0"},
                            {"data": "col8" ,"defaultContent": "0"},
                            {"data": "col9" ,"defaultContent": "0"},
                            {"data": "col10","defaultContent": "0" },
                            {"data": "col11","defaultContent": "0" },
                            {"data": "col12","defaultContent": "0" },
                            {"data": "col13","defaultContent": "0" },
                            {"data": "col14","defaultContent": "" },
                            {"data": "col15","defaultContent": "" },
                            {"data": "col16","defaultContent": "" },
                            {"data": "col17","defaultContent": "" },
                            {"data": "col18","defaultContent": "" }
                        ],

                        "initComplete": function() {
                            $('#spinner').hide();
                         }
                    });
                    $('#adsTable2 tbody').on('click', 'td.details-control', function () {
                        var tr = $(this).closest('tr');
                        var row = table.row(tr);

                        if (row.child.isShown()) {
                                        // This row is already open - close it
                                        row.child.hide();
                                    tr.removeClass('shown');
                        }
                        else {
                            // Open this row
                            if($('#sel1').val() == '1'){
                                        row.child(format1(row.data())).show();
                                    } else if($('#sel1').val() == '2') {
                                        row.child(format2(row.data())).show();

                                    } else{
                                        row.child(format3(row.data())).show();
                                    }
                            tr.addClass('shown');
                        }
                    });
                }
                function genTable3() {
                    var table = $('#adsTable3').DataTable({
                        "scrollY": "300px",
                        "scrollCollapse": true,
                        "bDestroy": true,
                        'bStateSave': true,
                        "fnDraw": false,
                        "bLengthChange": false,
                        "responsive": true,
                        "orderable": false,
                        "language": {
                            "lengthMenu": "แสดงผล _MENU_ ต่อหนึ่งเพจ",
                            "emptyTable": "No data available in table",
                            "info": "แสดงผลที่หน้า _PAGE_ จาก _PAGES_",
                            "infoEmpty": "No records available",
                            "infoFiltered": "(filtered from _MAX_ total records)",
                            "search": "ค้นหา:",
                            "paginate": {
                                "first": "เริ่มต้น",
                                "last": "สุดท้าย",
                                "next": "ต่อไป",
                                "previous": "ก่อนหน้า"
                            }
                        },

                        "ajax": {
                            "url": '/report_06_submit',
                            "type": 'POST',
                            "data": {
                                sel: $('#sel1').val(),
                                dtpickerFrom: $('#dtpickerFrom').val(),
                                dtpickerTo: $('#dtpickerTo').val(),
                                txtKioskID: $('#txtKioskID').val()
                            },
                            "dataSrc": ""
                        },
                        "columns": [
                            {"data": "col1","className": "dt-center",
                            render : function(data, type, row) {
                                    return '<a id="'+data+'" href="/report_06_01?searchKioskID='+$('#txtKioskID').val()+'&kioskId=' + data + '&dtpickerFrom=' + $('#dtpickerFrom').val() + '&dtpickerTo=' + $('#dtpickerTo').val() +'">'+data+'</a>'
                            } },
                            {"data": "col2" ,"defaultContent": "0"},
                            {"data": "col3" ,"defaultContent": "0"},
                            {"data": "col4" ,"defaultContent": "0"},
                            {"data": "col5" ,"defaultContent": "0"},
                            {"data": "col6" ,"defaultContent": "0"},
                            {"data": "col7" ,"defaultContent": "0"},
                            {"data": "col8" ,"defaultContent": "0"},
                            {"data": "col9" ,"defaultContent": "0"},
                            {"data": "col10","defaultContent": "0" },
                            {"data": "col11","defaultContent": "0" },
                            {"data": "col12","defaultContent": "0" },
                            {"data": "col14","defaultContent": "" },
                            {"data": "col15","defaultContent": "" },
                            {"data": "col16","defaultContent": "" },
                            {"data": "col17","defaultContent": "" },
                            {"data": "col18","defaultContent": "" },
                            {"data": "col21","defaultContent": "" },
                            {"data": "col22","defaultContent": "" }

                        ],

                        "initComplete": function() {
                                        $('#spinner').hide();
                                    }
                    });
                    $('#adsTable3 tbody').on('click', 'td', function () {
                        var tr = $(this).closest('tr');
                        var row = table.row(tr);

                        if (row.child.isShown()) {
                                        // This row is already open - close it
                                        row.child.hide();
                                    tr.removeClass('shown');
                        }
                        else {
                            // Open this row
                            if($('#sel1').val() == '1'){
                                        row.child(format1(row.data())).show();
                                    } else if($('#sel1').val() == '2') {
                                        row.child(format2(row.data())).show();

                                    }
                                    //else{
                                    //    document.location.href = '/report_06_01?kioskId=' + row.data().col1 + '&dtpickerFrom=' + $('#dtpickerFrom').val() + '&dtpickerTo=' + $('#dtpickerTo').val() + '';
                                    //}
                            tr.addClass('shown');
                        }
                    });
                }

                function format1(d) {
                    var result = "";

                    $.ajax({
                        type: "POST", //rest Type
                        data: JSON.stringify({
                            sel: $('#sel1').val(),
                            dtpickerFrom: $('#dtpickerFrom').val(),
                            dtpickerTo: $('#dtpickerTo').val(),
                            kioskID: d.col1
                        }),

                        url: "/report_06_submitDrillDown1",
                        async: false,
                        contentType: "application/json; charset=utf-8",
                        success: function (msg) {
                                        result = '<table  border="0" style="width:100%;table-layout:fixed;">';

                                    for (var key in msg) {
                                        result += '<tr>' +
                                        '<td style="width:5%;  "></td>' +
                                        '<td style="width:10%; padding:5px !important;">' + msg[key].day.toString() + '</td>' +
                                        '<td style="width:5%;  padding:5px !important;">' + msg[key].col2 + '</td>' +
                                        '<td style="width:5%;  padding:5px !important;">' + msg[key].col3 + '</td>' +
                                        '<td style="width:5%;  padding:5px !important;">' + msg[key].col4 + '</td>' +
                                        '<td style="width:5%;  padding:5px !important;">' + msg[key].col5 + '</td>' +
                                        '<td style="width:5%;  padding:5px !important;">' + msg[key].col6 + '</td>' +
                                        '<td style="width:5%;  padding:5px !important;">' + msg[key].col7 + '</td>' +
                                        '<td style="width:5%;  padding:5px !important;">' + msg[key].col8 + '</td>' +
                                        '<td style="width:5%;  padding:5px !important;">' + msg[key].col9 + '</td>' +
                                        '<td style="width:5%;  padding:5px !important;">' + msg[key].col10 + '</td>' +
                                        ((msg[key].col14 == "0") ?
                                            '<td style="width:5%;  padding:5px !important;">' + msg[key].col11 + '(<span style="color:green;">' + msg[key].col11 + '</span>)' + '</td>' :
                                            '<td style="width:5%;  padding:5px !important;">' + msg[key].col11 + '(<span style="color:red;">' + msg[key].col14 + '</span>)' + '</td>') +
                                        '<td style="width:5%;  padding:5px !important;">' + msg[key].col12 + '</td>' +
                                        '<td style="width:5%;  padding:5px !important;">' + msg[key].col13 + '</td>' +
                                        '</tr>';
                                    }
                            result += '</table>';

                        }
                    });

                    return result;
                }
                function format2(d) {
                    var result = "";

                    $.ajax({
                        type: "POST", //rest Type
                        data: JSON.stringify({
                            sel: $('#sel1').val(),
                            dtpickerFrom: $('#dtpickerFrom').val(),
                            dtpickerTo: $('#dtpickerTo').val(),
                            kioskID: $('#txtKioskID').val(),
                            productName: d.col1
                        }),

                        url: "/report_06_submitDrillDown2",
                        async: false,
                        contentType: "application/json; charset=utf-8",
                        success: function (msg) {
                                    result = '<table cellpadding="0" cellspacing="0" border="0" style="width:100%;">';

                                for (var key in msg) {
                                    result += '<tr>' +
                                    '<td style="width:5%; "> </td>' +
                                    '<td style="width:10%;  padding:5px !important;">' + msg[key].day.toString() + '</td>' +
                                    '<td style="width:5%;   padding:5px !important;">' + msg[key].col2 + '</td>' +
                                    '<td style="width:5%;   padding:5px !important;">' + msg[key].col3 + '</td>' +
                                    '<td style="width:5%;   padding:5px !important;">' + msg[key].col4 + '</td>' +
                                    '<td style="width:5%;   padding:5px !important;">' + msg[key].col5 + '</td>' +
                                    '<td style="width:5%;   padding:5px !important;">' + msg[key].col6 + '</td>' +
                                    '<td style="width:5%;   padding:5px !important;">' + msg[key].col7 + '</td>' +
                                    '<td  style="width:5%;  padding:5px !important;">' + msg[key].col8 + '</td>' +
                                    '<td  style="width:5%;  padding:5px !important;">' + msg[key].col9 + '</td>' +
                                    '<td  style="width:5%;  padding:5px !important;">' + msg[key].col10 + '</td>' +
                                    '<td  style="width:5%;  padding:5px !important;">' + msg[key].col11 + '</td>' +
                                    '<td  style="width:5%;  padding:5px !important;">' + msg[key].col12 + '</td>' +
                                    '<td  style="width:5%;  padding:5px !important;">' + msg[key].col13 + '</td>' +
                                    '<td  style="width:5%;  padding:5px !important;">' + msg[key].col14 + '</td>' +
                                    '<td  style="width:5%;  padding:5px !important;">' + msg[key].col15 + '</td>' +
                                    '<td  style="width:5%;  padding:5px !important;">' + msg[key].col16 + '</td>' +
                                    '<td  style="width:5%;  padding:5px !important;">' + msg[key].col17 + '</td>' +
                                    '<td  style="width:5%;  padding:5px !important;">' + msg[key].col18 + '</td>' +
                                    '</tr>';
                                }
                            result += '</table>';

                        }
                    });

                    return result;
                }
                function format3(d) {
                    var result = "";

                    $.ajax({
                        type: "POST", //rest Type
                        data: JSON.stringify({
                            sel: $('#sel1').val(),
                            dtpickerFrom: $('#dtpickerFrom').val(),
                            dtpickerTo: $('#dtpickerTo').val(),
                            kioskID: d.col1
                        }),

                        url: "/report_06_submitDrillDown3",
                        async: false,
                        contentType: "application/json; charset=utf-8",
                        success: function (msg) {
                                result = '<table  cellspacing="0" border="0"  style="width:100%;table-layout:fixed;">'
                            //    '<tr>' +
                            //    '<td style="min-width:60px;">   </td>' +
                            //    '<td style="min-width:100px; text-align:center;">day</td>' +
                            //    '<td style="min-width:100px;text-align:center;">timestamp</td>' +
                            //    '<td style="min-width:100px;text-align:center;">kiosk</td>' +
                            //    '<td style="min-width:100px;text-align:center;">product name</td>' +
                            //    '<td style="min-width:30px;text-align:center;">collect money</td>' +
                            //    '<td style="min-width:30px;text-align:center;">coin_10</td>' +
                            //    '<td style="min-width:30px;text-align:center;">coin_5</td>' +
                            //    '<td style="min-width:30px;text-align:center;">coin_2</td>' +
                            //    '<td style="min-width:30px;text-align:center;">coin_1</td>' +
                            //    '<td style="min-width:30px;text-align:center;">bank_1000</td>' +
                            //    '<td style="min-width:30px;text-align:center;">bank_500</td>' +
                            //    '<td style="min-width:30px;text-align:center;">bank_100</td>' +
                            //    '<td style="min-width:30px;text-align:center;">bank_50</td>' +
                            //    '<td style="min-width:30px;text-align:center;">bank_20</td>'+
                            //'</tr>';
                            for (var key in msg) {
                                result += '<tr>' +
                                '<td style="width:25px;  padding:5px !important;"> </td>' +
                                '<td style="width:10%;  padding:5px !important;">' + msg[key].col13 + '</td>' +
                                '<td style="width:10%;  padding:5px !important;">' + msg[key].col1.toString() + '</td>' +
                                '<td style="width:5%;  padding:5px !important;">' + msg[key].col2 + '</td>' +
                                '<td style="width:5%;  padding:5px !important;">' + msg[key].col3 + '</td>' +
                                '<td style="width:5%;  padding:5px !important;">' + msg[key].col4 + '</td>' +
                                '<td style="width:5%;  padding:5px !important;">' + msg[key].col5 + '</td>' +
                                '<td style="width:5%;  padding:5px !important;">' + msg[key].col6 + '</td>' +
                                '<td style="width:5%;  padding:5px !important;">' + msg[key].col7 + '</td>' +
                                '<td style="width:5%;  padding:5px !important;">' + msg[key].col8 + '</td>' +
                                '<td style="width:5%;  padding:5px !important;">' + msg[key].col9 + '</td>' +
                                '<td style="width:5%;  padding:5px !important;">' + msg[key].col10 + '</td>' +
                                '<td style="width:5%;  padding:5px !important;">' + msg[key].col11 + '</td>' +
                                '<td style="width:5%;  padding:5px !important;">' + msg[key].col12 + '</td>' +

                                '<td style="width:5%;  padding:5px !important;">' + msg[key].col14 + '</td>' +
                                '<td style="width:5%;  padding:5px !important;">' + msg[key].col15 + '</td>' +
                                '<td style="width:5%;  padding:5px !important;">' + msg[key].col16 + '</td>' +
                                '<td style="width:5%;  padding:5px !important;">' + msg[key].col17 + '</td>' +
                                '<td style="width:5%;  padding:5px !important;">' + msg[key].col18 + '</td>' +
                                '</tr>';
                            }
                            result += '</table>';

                        }
                    });

                    return result;
                }
                function format4(d) {
                    var result = "";

                    $.ajax({
                            type: "POST", //rest Type
                        data: JSON.stringify({
                            sel: $('#sel1').val(),
                            dtpickerFrom: $('#dtpickerFrom').val(),
                            dtpickerTo: $('#dtpickerTo').val(),
                            kioskID: d.col1
                        }),

                        url: "/report_06_submitDrillDown4",
                        async: false,
                        contentType: "application/json; charset=utf-8",
                        success: function (msg) {
                            result = '<table cellpadding="5" cellspacing="0" border="0"  style="padding-left:50px;width:100%;">'

                            for (var key in msg) {
                            result += '<tr>' +
                            '<td style="width: 5%;  padding:5px !important;"> </td>' +
                            '<td style="width: 10%; padding:5px !important;">' + msg[key].col1.toString() + '</td>' +
                            '<td style="width: 5%; padding:5px !important;">' + msg[key].col2 + '</td>' +
                            '<td style="width: 5%; padding:5px !important;">' + msg[key].col3 + '</td>' +
                            '<td style="width: 5%; padding:5px !important;">' + msg[key].col4 + '</td>' +
                            '<td style="width: 5%; padding:5px !important;">' + msg[key].col5 + '</td>' +
                            '<td style="width: 5%;  padding:5px !important;">' + msg[key].col6 + '</td>' +
                            '<td style="width: 5%;  padding:5px !important;">' + msg[key].col7 + '</td>' +
                            '<td style="width: 5%;  padding:5px !important;">' + msg[key].col8 + '</td>' +
                            '<td style="width: 5%;  padding:5px !important;">' + msg[key].col9 + '</td>' +
                            '<td style="width: 5%;  padding:5px !important;">' + msg[key].col10 + '</td>' +
                            '<td style="width: 15%;  padding:5px !important;">' + msg[key].col11 + '</td>' +
                            '<td style="width: 15%;  padding:5px !important;">' + msg[key].col12 + '</td>' +
                            '<td style="width: 10%;  padding:5px !important;">' + msg[key].col13 + '</td>' +
                            '</tr>';
                        }
                            result += '</table>';

                        }
                    });

                    return result;
                }
                function exportData() {

                        $.ajax({
                            type: "POST", //rest Type
                            data: JSON.stringify({
                                sel: $('#sel1').val(),
                                dtpickerFrom: $('#dtpickerFrom').val(),
                                dtpickerTo: $('#dtpickerTo').val(),
                                kioskID: $('#txtKioskID').val()
                            }),

                            url: "/report_06_export",
                            async: false,
                            contentType: "application/json; charset=utf-8",
                            success: function (msg) { }
                        });
                    }

            </script>

        </div>
    </div>


</body>
</html >
