<!DOCTYPE html>
<html lang="en">

<head>
   <%- include partial/header_meta.ejs %> 
   <%- include partial/header_css.ejs %> 
    <script src="../../js/Chart.bundle.js"></script>
    <script src="../../js/Chart.js"></script>

</head>
   <style type="text/css">
      .dataTables_wrapper {
      width: 95%;
      margin-bottom:20px;
      }
   </style>
<body>
 <div class="login-page">
  <div class="form">
     <form name="chart" method="POST" action="">
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <%- include partial/nav_header.ejs %>  
            <%- include partial/nav_menu.ejs %> 
		</nav>

    <div id="page-wrapper">

<!--body-->
    
<div style="width:1000px;height:400px;">
<div  style="width:600px;height:400px;float:left;">

<canvas id="myChart" width="600" height="400"></canvas>
</div>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [
        <% info.forEach(function(data){ %>
			  <% if(selectType == '3'){ %>
						  <%= data.transYear %>,
			  <% }else if(selectType == '2'){ %>      
						 "<%= data.transMonth %>" + "/" + "<%= data.transYear %>", 
			  <% }else{ %>
						  "<%= data.transDay %>" + "/" + "<%= data.transMonth %>" + "/" + "<%= data.transYear %>",
			  <% } %>  
        <% })%>
        
        ], 
        datasets: [{
            label: 'จำนวน',
            data: [
            <% info.forEach(function(data){ %>
            <%= data.transData %> ,
            <% })%>
            ],
            borderWidth: 1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)"
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
     <br />
        <div class="container" style="width:300px;height:200px;background:whitesmoke;float:left;margin-left:20px;">
          <h2>แสดงผลตาม </h2>
              <select class="form-control" id="sel1" name="sel1">
                <option value="1">วัน</option>
                <option value="2">เดือน</option>
                <option value="3">ปี</option>
              </select>
                    <br />


             <!-- <select class="form-control" id="sel3" name="sel3" >
                <option value="1">Agant</option>
                <option value="2">Kiosk</option>
              </select> -->
                    <br />
              <button class="btn btn-primary">Submit</button>
        </div>
         </div>
         <br />
            <div>
            <table id="adsTable" class="display" cellspacing="0" width="100%">
               <thead>
                  <tr>  
					<% if(selectType == '3'){ %>
						<th>ปี</th>                    
                        <th>รายได้</th>
				    <% }else if(selectType == '2'){ %>      
						<th>ปี</th>
                        <th>เดือน</th>				 
                        <th>รายได้</th>
					<% }else{ %>
						<th>ปี</th>
						<th>เดือน</th>  
						<th>วัน</th>
						<th>รายได้</th>
					 <% } %>
                  </tr>
               </thead>

               <tbody>
                 
				  <% if(selectType == '3'){ %>
				   <% info.forEach(function(data) { %>
						<tr>
					    <td><%= data.transYear %></td>				       
                        <td><%= data.transData %></td> 
						 </tr>
                   <% })%> 
				    
				   <% } else if(selectType == '2'){ %>  
				    
				    <% info.forEach(function(data){ %>
						<tr>   
						<td><%= data.transYear %></td>
					    <td><%= data.transMonth %></td>					   
					    <td><%= data.transData %></td> 
						 </tr>
                   <% }) %> 
				   
				   <% }else{ %>

				    <% info.forEach(function(data){%>
						<tr>
						<td><%= data.transYear %></td>
				        <td><%= data.transMonth %></td>
				        <td><%= data.transDay %></td>
                        <td><%= data.transData %></td> 
						 </tr>
					<% })%>  
				<% } %>
                 
               </tbody>
            </table>
            </div>

<!--body-->
    </div> 

    </div>
    <%- include partial/header_js.ejs %>   
    </form>
    </div>
    </div>

	  <script type="text/javascript">
         $(document).ready(function(){
           $('#adsTable').DataTable({
				"language": {
					"lengthMenu": "แสดงผล _MENU_ ต่อหนึ่งเพจ",
					"zeroRecords": "ไม่พบข้อมูล",
					"info": "แสดงผลที่หน้า _PAGE_ จาก _PAGES_",
					"infoEmpty": "No records available",
					"infoFiltered": "(filtered from _MAX_ total records)",
					"search": "ค้นหา:",
					"paginate": {
									"first":      "เริ่มต้น",
									"last":       "สุดท้าย",
									"next":       "ต่อไป",
									"previous":   "ก่อนหน้า"
								}}
				});
         });
         
      </script>
</body>
</html>
