﻿<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partial/header_meta.ejs %>
    <%- include partial/header_css.ejs %>
    <link href="../css/datepicker.css" rel="stylesheet" />
</head>
<style type="text/css">
    table tr td {
        text-align: right;
    }

    table tr th {
        text-align: right;
    }

    .dataTables_wrapper {
        width: 95%;
        margin-bottom: 20px;
    }

    td.details-control {
        background: url('../img/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('../img/details_close.png') no-repeat center center;
    }

    .ui-datepicker-calendar {
        display: none;
    }

    .dataTables_wrapper {
        width: 99% !important;
    }



    table {
        table-layout: fixed;
    }

        table thead {
            font-size: 12px;
            padding: 50px !important;
            background-color: whitesmoke;
            color: black;
        }

        table tbody tr td:not([colspan = "14"]) {
            padding: 5px !important;
        }

        table tbody tr td[colspan = "14"] {
            padding: 0px;
        }
</style>

<body>
    <input type="hidden" name="dtpickerFromHidden" id="dtpickerFromHidden" value="<%= from%>">
    <input type="hidden" name="dtpickerToHidden" id="dtpickerToHidden" value="<%= to%>">
    <input type="hidden" name="dateToHidden" id="dateToHidden" value="<%= date%>">
    <div class="login-page">
        <div class="form">

            <div id="wrapper">
                <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <%- include partial/nav_header.ejs %>
                    <%- include partial/nav_menu.ejs %>
                </nav>

                <div id="page-wrapper">

                    <div class="row">
                        <div id="spinner">
                            <div class="loader">
                            </div>
                        </div>
                        <div class="col-lg-12">


                            <form method="post">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        เงื่อนไขการค้นหา
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-horizontal">

                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-3 col-md-2 control-label" for="inputEmail3">วันที่เริ่มต้น : </label>
                                                <div class="col-xs-12 col-sm-3 col-md-3 ">
                                                    <div class="input-group dtpickerFrom">
                                                        <input name="dtpickerFrom" id="dtpickerFrom" style="padding: 12px !important;" autocomplete="off" class="form-control cancelPadding dtpicker" value="<%= from %>" />
                                                        <span class="input-group-btn">
                                                            <button id="btnCalendar" class="btn btn-default" type="button" disabled>
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>

                                                </div>
                                                <label for="inputPassword3" class="col-xs-12 col-sm-3  col-md-2 control-label">วันที่สิ้นสุด : </label>
                                                <div class="col-xs-12 col-sm-3 col-md-3" style="margin-bottom: 5px;">
                                                    <div class="input-group dtpickerTo">
                                                        <input name="dtpickerTo" id="dtpickerTo" style="padding: 12px !important;"
                                                               autocomplete="off" class="form-control cancelPadding dtpicker" value="<%= to %>" />
                                                        <span class="input-group-btn">
                                                            <button id="btnCalendar" class="btn btn-default" type="button" disabled>
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="col-xs-12 col-sm-12 col-md-12" style="text-align: right; height: 30px;">
                                                    <button class="btn btn-warning btn-sm" name="action"
                                                            formaction="report_04_search" value="search">
                                                        แสดงผล
                                                    </button>
                                                    <button style="margin-left: 5px;" class="btn btn-warning btn-sm" name="action" formaction="report_02_export" value="export">นำออก</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="panel panel-info">
                                <div class="panel-heading" style="min-height: 40px; line-height: 30px">
                                    <div style="float: left;">ผลลัพธ์ การค้นหา </div>

                                </div>
                                <div class="panel-body" style="overflow: auto;">
                                    <table id="adsTable" class="table table-striped " cellspacing="0" width="100%">
                                        <thead>

                                            <tr id="type4">
                                                <th style="width: 5%; padding: 5px  !important;"></th>
                                                <th style="width: 10%; padding: 5px !important;">รหัสเครื่องเติมเงิน</th>
                                                <th style="width: 6%; padding: 5px !important;"><img src="img/bath_coin.png" width="40" /> 10 </th>
                                                <th style="width: 6%; padding: 5px !important;"><img src="img/bath_coin.png" width="40" /> 5 </th>
                                                <th style="width: 6%; padding: 5px !important;"><img src="img/bath_coin.png" width="40" /> 2 </th>
                                                <th style="width: 6%; padding: 5px !important;"><img src="img/bath_coin.png" width="40" /> 1 </th>
                                                <th style="width: 6%; padding: 5px !important;"><img src="img/bath_Bank.png" width="40" /> 1000 </th>
                                                <th style="width: 6%; padding: 5px !important;"><img src="img/bath_Bank.png" width="40" /> 500 </th>
                                                <th style="width: 6%; padding: 5px !important;"><img src="img/bath_Bank.png" width="40" /> 100 </th>
                                                <th style="width: 6%; padding: 5px !important;"><img src="img/bath_Bank.png" width="40" /> 50 </th>
                                                <th style="width: 6%; padding: 5px !important;"><img src="img/bath_Bank.png" width="40" /> 20 </th>
                                                <th style="width: 15%; padding: 5px !important;">สถานะข้อผิดพลาด </th>
                                                <th style="width: 15%; padding: 5px !important;">คำอธิบายสถานะข้อผิดพลาด </th>
                                                <th style="width: 10%; padding: 5px !important;">ชื่อสินค้า </th>

                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include partial/header_js.ejs %>
            <script src="../js/bootstrap-datepicker.js"></script>
            <script src="../js/bootstrap-datepicker-thai.js"></script>
            <script src="../js/locales/bootstrap-datepicker.th.js"></script>

            <script type="text/javascript">

                var month = new Array();
                month[0] = "01";
                month[1] = "02";
                month[2] = "03";
                month[3] = "04";
                month[4] = "05";
                month[5] = "06";
                month[6] = "07";
                month[7] = "08";
                month[8] = "09";
                month[9] = "10";
                month[10] = "11";
                month[11] = "12";

                var makeDate = new Date();
                makeDate.setYear(makeDate.getFullYear() + 543);
                CurDate = new Date(makeDate.setMonth(makeDate.getMonth()));
                PreviousDate = new Date(makeDate.setMonth(makeDate.getMonth() - 1));

                $(document).ready(function () {


                    $('.dtpicker').datepicker({ language: 'th-th', "setDate": new Date() })
                   .on('changeDate', function (ev) {
                       $(this).datepicker('hide');
                   });

                    $("#dtpickerFrom").val($("#dtpickerFromHidden").val());
                    $("#dtpickerTo").val($("#dtpickerToHidden").val());

                    if ($("#dtpickerFrom").val() == "" && $("#dtpickerTo").val() == "") {
                        GenerateDatetime();
                    }
                    GenerateDataTable();

                });

                function GenerateDatetime() {


                    if ($("#dateToHidden").val() != null && $("#dateToHidden").val() != "") {
                        $("#dtpickerFrom").val($("#dateToHidden").val());
                        $("#dtpickerTo").val($("#dateToHidden").val());
                    } else {
                        $('.dtpicker').datepicker({ language: 'th-th', "setDate": new Date() })
                       .on('changeDate', function (ev) {
                           $(this).datepicker('hide');
                       });

                        var To = CurDate.getDate() + '/' + month[CurDate.getMonth()] + '/' + CurDate.getFullYear();
                        var From = PreviousDate.getDate() + '/' + month[PreviousDate.getMonth()] + '/' + PreviousDate.getFullYear();
                        $("#dtpickerFrom").val(From);
                        $("#dtpickerTo").val(To);
                    }
                };

                function GenerateDataTable() {
                    $('#spinner').show();
                    $("#type1").attr("style", "display  :table-row;");

                    var table = $('#adsTable').DataTable({

                        "bDestroy": true,
                        'bStateSave': true,
                        "fnDraw": false,
                        "bLengthChange": false,
                        "responsive": true,
                        "orderable": false,
                        "language": {
                            "lengthMenu": "แสดงผล _MENU_ ต่อหนึ่งเพจ",

                            "info": "แสดงผลที่หน้า _PAGE_ จาก _PAGES_",
                            "infoEmpty": "No records available",
                            "infoFiltered": "(filtered from _MAX_ total records)",
                            "search": "ค้นหา:",
                            "paginate": {
                                "first": "เริ่มต้น",
                                "last": "สุดท้าย",
                                "next": "ต่อไป",
                                "previous": "ก่อนหน้า"
                            }
                        },

                        "ajax": {
                            "url": '/report_04_submit',
                            "type": 'POST',
                            "data": {
                                dtpickerFrom: $('#dtpickerFrom').val(),
                                dtpickerTo: $('#dtpickerTo').val()
                            },
                            "dataSrc": ""
                        },
                        "columns": [
                           {
                               "className": 'details-control',
                               "orderable": true,
                               "data": null,
                               "defaultContent": ''
                           },

                            { "data": "col1", "defaultContent": "0" },
                            { "data": "col2", "defaultContent": "0" },
                            { "data": "col3", "defaultContent": "0" },
                            { "data": "col4", "defaultContent": "0" },
                            { "data": "col5", "defaultContent": "0" },
                            { "data": "col6", "defaultContent": "0" },
                            { "data": "col7", "defaultContent": "0" },
                            { "data": "col8", "defaultContent": "0" },
                            { "data": "col9", "defaultContent": "0" },
                            { "data": "col10", "defaultContent": "0" },
                            { "data": "col11", "defaultContent": "0" },
                            { "data": "col12", "defaultContent": "0" },
                            { "data": "col13", "defaultContent": "0" }

                        ],
                        "initComplete": function () {
                            $('#spinner').hide();
                        }
                    });

                    $('#adsTable tbody').on('click', 'td.details-control', function () {
                        var tr = $(this).closest('tr');
                        var row = table.row(tr);

                        if (row.child.isShown()) {
                            // This row is already open - close it
                            row.child.hide();
                            tr.removeClass('shown');
                        }
                        else {
                            // Open this row

                            row.child(format4(row.data())).show();

                            tr.addClass('shown');
                        }
                    });


                    return false;
                }

                function format4(d) {
                    var result = "";

                    $.ajax({
                        type: "POST", //rest Type
                        data: JSON.stringify({
                            dtpickerFrom: $('#dtpickerFrom').val(),
                            dtpickerTo: $('#dtpickerTo').val(),
                            kioskID: d.col1
                        }),

                        url: "/report_04_submitDrillDown4",
                        async: false,
                        contentType: "application/json; charset=utf-8",
                        success: function (msg) {
                            result = '<table cellpadding="5" cellspacing="0" border="0"  style="padding-left:50px;width:100%;">'

                            for (var key in msg) {
                                result += '<tr>' +
                                     '<td style="width: 5%;  padding:5px !important;"> </td>' +
                                     '<td style="width: 10%; padding:5px !important;">' + msg[key].col1.toString() + '</td>' +
                                     '<td style="width: 5%; padding:5px !important;">' + msg[key].col2 + '</td>' +
                                     '<td style="width: 5%; padding:5px !important;">' + msg[key].col3 + '</td>' +
                                     '<td style="width: 5%; padding:5px !important;">' + msg[key].col4 + '</td>' +
                                     '<td style="width: 5%; padding:5px !important;">' + msg[key].col5 + '</td>' +
                                     '<td style="width: 5%;  padding:5px !important;">' + msg[key].col6 + '</td>' +
                                     '<td style="width: 5%;  padding:5px !important;">' + msg[key].col7 + '</td>' +
                                     '<td style="width: 5%;  padding:5px !important;">' + msg[key].col8 + '</td>' +
                                     '<td style="width: 5%;  padding:5px !important;">' + msg[key].col9 + '</td>' +
                                     '<td style="width: 5%;  padding:5px !important;">' + msg[key].col10 + '</td>' +
                                     '<td style="width: 15%;  padding:5px !important;">' + msg[key].col11 + '</td>' +
                                     '<td style="width: 15%;  padding:5px !important;">' + msg[key].col12 + '</td>' +
                                     '<td style="width: 10%;  padding:5px !important;">' + msg[key].col13 + '</td>' +
                                 '</tr>';
                            }
                            result += '</table>';

                        }
                    });

                    return result;
                }


                function exportData() {

                    $.ajax({
                        type: "POST", //rest Type
                        data: JSON.stringify({
                            sel: $('#sel1').val(),
                            dtpickerFrom: $('#dtpickerFrom').val(),
                            dtpickerTo: $('#dtpickerTo').val()
                        }),

                        url: "/report_04_export",
                        async: false,
                        contentType: "application/json; charset=utf-8",
                        success: function (msg) { }
                    });
                }





            </script>

        </div>
    </div>


</body>
</html>
