﻿
.left {
    float: left;
}

.right {
    float: right;
}

.upload-btn {
    color: #ffffff;
    background-color: #F89406;
    border: none;
}

    .upload-btn:hover,
    .upload-btn:focus,
    .upload-btn:active,
    .upload-btn.active {
        color: #ffffff;
        background-color: #FA8900;
        border: none;
    }

h4 {
    padding-bottom: 10px;
    color: #B8BDC1;
}

.glyphicon {
    font-size: 5em;
    color: #9CA3A9;
}

h2 {
    margin-top: 15px;
    color: #68757E;
}


#upload-input {
    display: none;
}

#spinner {
    background: black;
    top: -5px;
    width: 100%;
    height: 100%;
    z-index: 99;
    position: fixed;
    opacity: 0.3;
}

.loader {
    position: relative;
    z-index: 1;
    top: 45%;
    left: 40%;
    border: 16px solid #f3f3f3;
    border-radius: 100%;
    border-top: 16px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

/* Background colors */
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black {
    color: #f9f9f9 !important;
}

.bg-gray {
    background-color: #eaeaec !important;
}

.bg-black {
    background-color: #222222 !important;
}

.bg-red {
    background-color: #f56954 !important;
}

.bg-yellow {
    background-color: #f39c12 !important;
}

.bg-aqua {
    background-color: #00c0ef !important;
}

.bg-blue {
    background-color: #0073b7 !important;
}

.bg-light-blue {
    background-color: #3c8dbc !important;
}

.bg-green {
    background-color: #00a65a !important;
}

.bg-navy {
    background-color: #001f3f !important;
}

.bg-teal {
    background-color: #39cccc !important;
}

.bg-olive {
    background-color: #3d9970 !important;
}

.bg-lime {
    background-color: #01ff70 !important;
}

.bg-orange {
    background-color: #ff851b !important;
}

.bg-fuchsia {
    background-color: #f012be !important;
}

.bg-purple {
    background-color: #932ab6 !important;
}

.bg-maroon {
    background-color: #85144b !important;
}




.bg-red {
    background-color: #F44336 !important;
    color: #fff !important;
}

    .bg-red .content .text,
    .bg-red .content .number {
        color: #fff !important;
    }

.bg-pink {
    background-color: #E91E63 !important;
    color: #fff !important;
}

    .bg-pink .content .text,
    .bg-pink .content .number {
        color: #fff !important;
    }

.bg-purple {
    background-color: #9C27B0 !important;
    color: #fff !important;
}

    .bg-purple .content .text,
    .bg-purple .content .number {
        color: #fff !important;
    }

.bg-deep-purple {
    background-color: #673AB7 !important;
    color: #fff !important;
}

    .bg-deep-purple .content .text,
    .bg-deep-purple .content .number {
        color: #fff !important;
    }

.bg-indigo {
    background-color: #3F51B5 !important;
    color: #fff !important;
}

    .bg-indigo .content .text,
    .bg-indigo .content .number {
        color: #fff !important;
    }

.bg-blue {
    background-color: #2196F3 !important;
    color: #fff !important;
}

    .bg-blue .content .text,
    .bg-blue .content .number {
        color: #fff !important;
    }

.bg-light-blue {
    background-color: #03A9F4 !important;
    color: #fff !important;
}

    .bg-light-blue .content .text,
    .bg-light-blue .content .number {
        color: #fff !important;
    }

.bg-cyan {
    background-color: #00BCD4 !important;
    color: #fff !important;
}

    .bg-cyan .content .text,
    .bg-cyan .content .number {
        color: #fff !important;
    }

.bg-teal {
    background-color: #009688 !important;
    color: #fff !important;
}

    .bg-teal .content .text,
    .bg-teal .content .number {
        color: #fff !important;
    }

.bg-green {
    background-color: #4CAF50 !important;
    color: #fff !important;
}

    .bg-green .content .text,
    .bg-green .content .number {
        color: #fff !important;
    }

.bg-light-green {
    background-color: #8BC34A !important;
    color: #fff !important;
}

    .bg-light-green .content .text,
    .bg-light-green .content .number {
        color: #fff !important;
    }

.bg-lime {
    background-color: #CDDC39 !important;
    color: #fff !important;
}

    .bg-lime .content .text,
    .bg-lime .content .number {
        color: #fff !important;
    }

.bg-yellow {
    background-color: #ffe821 !important;
    color: #fff !important;
}

    .bg-yellow .content .text,
    .bg-yellow .content .number {
        color: #fff !important;
    }

.bg-amber {
    background-color: #FFC107 !important;
    color: #fff !important;
}

    .bg-amber .content .text,
    .bg-amber .content .number {
        color: #fff !important;
    }

.bg-orange {
    background-color: #FF9800 !important;
    color: #fff !important;
}

    .bg-orange .content .text,
    .bg-orange .content .number {
        color: #fff !important;
    }

.bg-deep-orange {
    background-color: #FF5722 !important;
    color: #fff !important;
}

    .bg-deep-orange .content .text,
    .bg-deep-orange .content .number {
        color: #fff !important;
    }

.bg-brown {
    background-color: #795548 !important;
    color: #fff !important;
}

    .bg-brown .content .text,
    .bg-brown .content .number {
        color: #fff !important;
    }

.bg-grey {
    background-color: #9E9E9E !important;
    color: #fff !important;
}

    .bg-grey .content .text,
    .bg-grey .content .number {
        color: #fff !important;
    }

.bg-blue-grey {
    background-color: #607D8B !important;
    color: #fff !important;
}

    .bg-blue-grey .content .text,
    .bg-blue-grey .content .number {
        color: #fff !important;
    }

.bg-black {
    background-color: #000000 !important;
    color: #fff !important;
}

    .bg-black .content .text,
    .bg-black .content .number {
        color: #fff !important;
    }

.bg-white {
    background-color: #ffffff !important;
    color: #fff !important;
}

    .bg-white .content .text,
    .bg-white .content .number {
        color: #fff !important;
    }



@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
