﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- include ../partial/header_meta.ejs %>
    <%- include ../partial/header_css.ejs %>

    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <%- include ../partial/nav_header.ejs %>
            <%- include ../partial/nav_menu.ejs %>
        </nav>
        <div id="page-wrapper">
            <div class="row">

                <div id="spinner">
                    <div class="loader">
                    </div>
                </div>
                <div class="col-lg-12">
                    <form method="post">
                         <div class="panel panel-info">
                        <div class="panel-heading">
                            เงื่อนไขการค้นหา
                        </div>

                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="rows-fluid">
                                        <label class="col-xs-12 col-sm-2 col-md-2 control-label" for="inputEmail3">Agent Type : </label>
                                        <div class="col-xs-12 col-sm-2 col-md-2 ">
                                            <div class="input-group ">
                                                <select id="ddlType" class="form-control" name="agentType">       
                                                     <option value="">- Select Type -</option>
                                                        <%  for ( var i = 0; i < agentType.length; i++ ){  %>
                                                        <option value="<%= agentType[i].id %>"  <%= (agentType[i].id == selectedType) ? 'selected' : '' %> > <%= agentType[i].agent_type_name  %></option>
                                                        <%  }   %>   
                                                    </select>
                                            </div>
                                        </div>

                                        <label for="inputPassword3" class="col-xs-12 col-sm-2  col-md-2 control-label">Agent Channel : </label>
                                        <div class="col-xs-12 col-sm-2 col-md-2" style="margin-bottom: 5px;">
                                            <div class="input-group ">
                                                <select id="ddlChannel" class="form-control" name="agentChannel"> 
                                                     <option value="">- Select Channel -</option>
                                                        <%  for ( var i = 0; i < agentChannel.length; i++ ){  %>
                                                        <option value="<%= agentChannel[i].id %>"  <%= (agentChannel[i].id == selectedChannel) ? 'selected' : '' %> > <%= agentChannel[i].agent_channel_name  %></option>
                                                        <%  }   %>   
                                                    </select>
                                            </div>
                                        </div>

                                        <label for="inputPassword3" class="col-xs-12 col-sm-2  col-md-2 control-label">Agent Level : </label>
                                        <div class="col-xs-12 col-sm-2 col-md-2" style="margin-bottom: 5px;">
                                            <div class="input-group ">
                                                <select id="ddlLevel" class="form-control" name="agentLevel"> 
                                                    <option value="">- Select Level -</option>
                                                        <%  for ( var i = 0; i < agentLevel.length; i++ ){  %>
                                                        <option value="<%= agentLevel[i].configValue %>"  <%= (agentLevel[i].configValue === selectedLevel) ? 'selected' : '' %> > <%= agentLevel[i].configName  %></option>
                                                        <%  }   %>   
                                                    </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row-fluid">
                                        <div class="col-xs-12 col-sm-12 col-md-12" style="text-align: right; height: 30px;">
                                            <button class="btn btn-warning btn-sm" name="action"
                                                formaction="user_search" value="search">
                                                แสดงผล
                                            </button>
                                            <button class="btn btn-sm btn-warning" formaction="/user/upload" id="btnUpload">อัพโหลด</button>
                                            <button class="btn btn-sm btn-warning" formaction="/user/logUpload" id="btnLogUpload">ตรวจสอบการอัพโหลด</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>

                    <div class="panel panel-info">
                        <div class="panel-heading" style="min-height: 40px; line-height: 30px">
                            <div style="float: left;">รายชื่อผู้ใช้งานระบบ </div>
                        </div>
                        <div class="panel-body">
                            <table id="adsTable" class="display" cellspacing="0" width="100%">
                                <thead>
                                    <tr id="type1">                                       
                                        
                                        <th>ชื่อผู้ใช้งาน </th>
                                        <th>Type</th>
                                        <th>Channel</th>
                                        <th>Group</th>
                                        <th>Level</th>
                                        <th>Personal Type</th>
                                        <th>Last Login</th>
                                        <th>IsLock</th>
                                        <th>IsDisable</th>
                                        <th>Agent Type</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <%- include ../partial/header_js.ejs %>

    <script type="text/javascript">
        $(document).ready(function () {

            if (<%= isSearch %> == 1) {
              GenerateDataTable();
}else {
        $('#spinner').hide();
}
          
        });

        function GenerateDataTable() {
            var table = $('#adsTable').DataTable({
                "bDestroy": true,
                'bStateSave': true,
                "fnDraw": false,
                "bLengthChange": false,
                "responsive": true,
                "language": {
                    "lengthMenu": "แสดงผล _MENU_ ต่อหนึ่งเพจ",
                    "zeroRecords": "ไม่พบข้อมูล",
                    "info": "แสดงผลที่หน้า _PAGE_ จาก _PAGES_",
                    "infoEmpty": "No records available",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "search": "ค้นหา:",
                    "paginate": {
                        "first": "เริ่มต้น",
                        "last": "สุดท้าย",
                        "next": "ต่อไป",
                        "previous": "ก่อนหน้า"
                    }
                },

                "ajax": {

                    "url": '/user_initialData',
                    "type": 'POST',
                    "data": {
                        agentType: $('#ddlType').val(),
                        agentChannel: $('#ddlChannel').val(),
                              agentLevel: $('#ddlLevel').val()
                    },
                    "dataSrc": ""
                },
                "columns": [      
                    { "data": "agentUsername" },
                    { "data": "agentTypeCode" },
                    { "data": "agentChannelCode" },
                    { "data": "agentGroup" },
                    { "data": "agentLevel" },
                    { "data": "agentPersonalType" },
                    { "data": "agentLastLogin" },
                    { "data": "IsLock" },
                    { "data": "IsDisable" },
                    { "data": "agentType" }
                ],
                "initComplete": function () {
                    $('#spinner').hide();
                }
            });
            return false;
        }
        $('#btnUpload').on('click', function () {
            window.location.href = "#";
        });
        $('#btnLogUpload').on('click', function () {
            window.location.href = "#";
        });
    </script>

</body>
</html>
