﻿<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../partial/header_meta.ejs %>
    <%- include ../partial/header_css.ejs %>
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <%- include ../partial/nav_header.ejs %>
            <%- include ../partial/nav_menu.ejs %>
        </nav>

        <div id="page-wrapper">

            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            นำเข้าบัญชีผู้ใช้
                        </div>
                        <div class="panel-body">
                            <span class="glyphicon glyphicon-cloud-upload col-xs-3 col-md-2 col-lg-1"></span>
                            <div class="col-xs-9 col-md-10 col-lg-11">
                                <label id="txtFileName">ชื่อไฟล์ : </label>
                                <div class="progress ">
                                    <div class="progress-bar" role="progressbar"></div>
                                </div>
                                <button class="btn btn-sm btn-primary " id="btnChooseFile" type="button"> เลือกไฟล์  </button>
                                <button class="btn btn-sm btn-success " id="btnCommitFile" type="button"> นำเข้า </button>
                                <button class="btn btn-sm btn-default " id="btnCommitFile" type="button" onclick="history.go(-1);"> ย้อนกลับ </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-12 col-lg-12" style="visibility:hidden;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            ข้อมูลที่นำเข้า
                        </div>
                        <div class="panel-body">
                            <table id="dtTable" class="display" cellspacing="0" width="100%">
                                <thead>
                                    <tr id="type1">
                                        <th></th>
                                        <th>Kiosk-SerialNumber</th>
                                        <th>ยอดเงินไขตู้</th>
                                        <th>ยอดเงินสะสมภายในตู้</th>
                                        <th>ผลรวมทั้งหมด</th>
                                        <th></th>
                                    </tr>
                                    <tr id="type2" style="display :none;">
                                        <th></th>
                                        <th>Product</th>
                                        <th>service amount</th>
                                        <th>fee</th>
                                        <th>customer credit</th>
                                        <th>collect money</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <input id="upload-input" type="file" name="uploads[]" multiple="multiple" accept=".xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"></input>

            <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        </div>

        <script>
            $(document).ready(function () {
                $('input[type=file]').change(function () {
                    var val = $(this).val().toLowerCase();
                    var regex = new RegExp("(.*?)\.(xls|xlsx)$");
                    if (!(regex.test(val))) {
                        $(this).val('');
                        alert('Please select correct file format');
                    }
                });
            });
        </script>

        <% if(finish != null && finish == 'true') { %>

        <script type='text/javascript'> alert('Upload Completed') </script>

        <% } %>

    </div>
    <%- include ../partial/header_js.ejs %>
</body>


</html>
