﻿<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../partial/header_meta.ejs %>
    <%- include ../partial/header_css.ejs %>
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <%- include ../partial/nav_header.ejs %>
            <%- include ../partial/nav_menu.ejs %>
        </nav>

        <div id="page-wrapper">
          
          <div>
		  operation
		  </div>

        </div>

    </div>
    <%- include ../partial/header_js.ejs %>
</body>


</html>
