<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- include ../partial/header_meta.ejs %>
    <%- include ../partial/header_css.ejs %>

    <meta charset="utf-8" />
    <title></title>
</head>
<style type="text/css">
    
    .ui-datepicker-calendar {
        display: none;
    }
</style>
<body>
<input type="hidden" name="dtpickerFromHidden" id="dtpickerFromHidden" value="<%= start_date%>">
<input type="hidden" name="dtpickerToHidden" id="dtpickerToHidden" value="<%= end_date%>">
<input type="hidden" name="action" id="action" value="<%= action%>">
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <%- include ../partial/nav_header.ejs %>
            <%- include ../partial/nav_menu.ejs %>
        </nav>
<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                  <div style="height:40px; text-align:right;">
                            <form method="post" id="advert_form"  enctype="multipart/form-data">
                            <input type="hidden" name="advert_id" id="advert_id" value="<%= advert_id%>">
                                <div class="panel panel-info">
                                    <div class="panel-heading"  style="text-align:left;" >
                                        บันทึกข้อมูลโฆษณา
                                    </div>
                                    <div id="errorMsg" style="text-align:center;display:inline;font-size: 16px;color:red;font-weight: bold;margin-bottom: 15px;"></div><br/>
                                    <div class="panel-body">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-3  col-md-2 control-label">ชื่อโฆษณา : </label>
                                                <div style="text-align:left;" class="col-xs-12 col-sm-9  col-md-3">
                                                    <input type="text" id="title" name="title" placeholder="Title" value="<%= title%>" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-3  col-md-2 control-label">URL : </label>
                                                <div style="text-align:left;" class="col-xs-12 col-sm-9  col-md-3">
                                                    <input type="text" id="url" name="url" placeholder="URL" value="<%= url%>" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-3  col-md-2 control-label" >คำอธิบาย : </label>
                                                <div style="text-align:left;" class="col-xs-12 col-sm-9  col-md-3">
                                                    <input type="text" id="description" name="description" placeholder="Description" value="<%= description%>" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-3  col-md-2 control-label" >กลุ่มโฆษณา : </label>
                                                <div style="text-align:left;" class="col-xs-12 col-sm-9  col-md-3">
                                                    <select class="form-control" id="category" name="category">
                                                    <% for (key in categoryAll) { %>
                                                        <option value="<%= categoryAll[key].categoryID%>" 
                                                        
                                                        <% if(categoryAll[key].categoryID == category_id) { %>
                                                             selected="selected"
                                                        <% } %>
                                                         ><%= categoryAll[key].categoryName%></option>
                                                    <% } %>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-3  col-md-2 control-label" >รูปโฆษณา : </label>
                                                <div style="text-align:left;" class="col-xs-12 col-sm-9  col-md-3">
                                                <% if(!(typeof picture_name === 'undefined') && picture_name != null && picture_name != "" ){ %>
                                                    <img src="../../img/<%= picture_name%>" />
                                                <% } %>
                                                    <input type="file" id="myFile" name="myFile" accept="image/*"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-3  col-md-2 control-label" >ระยะเวลาแสดงโฆษณา </label>
                                                <div style="text-align:left;" class="col-xs-12 col-sm-9  col-md-3">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-3 col-md-2 control-label" >วันที่เริ่มต้น : </label>
                                                <div style="text-align:left;" class="col-xs-12 col-sm-3 col-md-3 ">
                                                    <div class="input-group dtpickerFrom">
                                                        <input name="dtpickerFrom" id="dtpickerFrom" style="padding:6px;" autocomplete="off" class="form-control cancelPadding dtpicker" value="<%= start_date%>" />
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>    
                                                <label class="col-xs-12 col-sm-3  col-md-2 control-label">วันที่สิ้นสุด : </label>
                                                <div style="text-align:left;" class="col-xs-12 col-sm-3 col-md-3" style="margin-bottom:5px;">
                                                    <div class="input-group dtpickerTo">
                                                        <input name="dtpickerTo" id="dtpickerTo" style="padding:6px;" 
                                                        autocomplete="off" class="form-control cancelPadding dtpicker" value="<%= start_date%>" />
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                                <div class="form-group">
                                                    <label class="col-xs-12 col-sm-3  col-md-2 control-label" >สถานะ : </label>
                                                    <div style="text-align:left;" class="col-xs-12 col-sm-9  col-md-3" style="text-align:left;">
                                                      <input type="radio" name="status" value="1" <% if(status != "0"){ %> checked="checked" <% } %>> Active &nbsp;&nbsp;
                                                      <input type="radio" name="status" value="0" <% if(status == "0"){ %> checked="checked" <% } %> > Inactive
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12" style="text-align:right;height:30px;">
                                                    <button type="button" class="btn btn-warning btn-sm" onclick="submit_add()">
                                                        บันทึก
                                                    </button>
                                                    <button style="margin-left:5px;" class="btn btn-warning btn-sm" name="action" formaction="advert_add_back" value="back">กลับหน้าหลัก</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
    </div>

    <%- include ../partial/header_js.ejs %>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dtpicker').datetimepicker(
            {
                format: 'DD/MM/YYYY'
            });
            
            $("#dtpickerFrom").val($("#dtpickerFromHidden").val());
            $("#dtpickerTo").val($("#dtpickerToHidden").val());

        });

    function submit_add() {
       var title = $('#title').val();
       var actionResult = $('#action').val();
       if("" == title ){
            document.getElementById("errorMsg").innerHTML = "Please input title.";
            $('#title').focus();
       } else {
            if(actionResult == "add"){
                $("#advert_form").attr("action", "advert_add_save");
                $('#advert_form').submit();
            } else if(actionResult == "edit"){
                $("#advert_form").attr("action", "advert_edit_save");
                $('#advert_form').submit();
            } else {
                window.location.href = "advert";
            }
       }
    }
    </script>
    </div>
    </div>
</body>
</html>