<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- include ../partial/header_meta.ejs %>
    <%- include ../partial/header_css.ejs %>

    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <%- include ../partial/nav_header.ejs %>
            <%- include ../partial/nav_menu.ejs %>
        </nav>
<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                  <div style="height:40px; text-align:right;">
                            <form method="post" id="config_form" >
                                <div class="panel panel-info">
                                    <div class="panel-heading"  style="text-align:left;" >
                                        ข้อมูลการตั้งค่าโฆษณา
                                    </div>
                                    <div id="errorMsg" style="text-align:left;display:inline;font-size: 16px;color:red;font-weight: bold;margin-bottom: 15px;"></div>
                                    <br/>
                                    <div class="panel-body">
                                        <div class="form-horizontal">
                                        <% for (key in info) { %>
                                            <div class="form-group">
                                                <label class="col-xs-12 col-sm-3  col-md-2 control-label"><%= info[key].configName%> : </label>
                                                <div  style="text-align:left;" class="col-xs-12 col-sm-9  col-md-3">
                                                    <input type="<%= info[key].type%>" id="<%= info[key].configCode%>" 
                                                    name="config<%= info[key].configCode%>" 
                                                 <% if(info[key].type != "checkbox"){ %>
                                                    value="<%= info[key].configValue%>"
                                                    placeholder="Please input <%= info[key].configName%>"   />
                                                <% } else {%>
                                                    value="1" <% if(info[key].configValue == "1"){ %> checked="checked" <% } %> />
                                                <% } %>
                                                </div>
                                            </div>
                                        <% } %>
                                                <div class="col-xs-12 col-sm-12 col-md-12" style="text-align:right;height:30px;">
                                                    <button type="button" class="btn btn-warning btn-sm" onclick="submit_add()">
                                                        บันทึก
                                                    </button>
                                                    <button style="margin-left:5px;" class="btn btn-warning btn-sm" name="action" formaction="advert_add_back" value="back">กลับหน้าหลัก</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
    </div>

    <%- include ../partial/header_js.ejs %>

    <script type="text/javascript">
    function submit_add() {
        var input_value ="";
          var input_id ="";
        $("input").each(function(){
            if($(this).attr('type') == "checkbox"){
                if($(this).is(':checked')){
                    input_value =input_value +'1' +'|'
                }else{
                    input_value =input_value +'0'+'|'
                }
            }else {
                input_value =input_value + $(this).val()+'|'
            }
           input_id =input_id + $(this).attr('id')+'|'
        });
         window.location.href ="/config_edit_save?input_value="+input_value+"&input_id="+input_id;
    }
    </script>
    </div>
    </div>
</body>
</html>