<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- include ../partial/header_meta.ejs %>
    <%- include ../partial/header_css.ejs %>
<script src="blob-util.js"></script>
    <meta charset="utf-8" />
    <title></title>
</head>
<style type="text/css">
</style>
<body>

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <%- include ../partial/nav_header.ejs %>
            <%- include ../partial/nav_menu.ejs %>
        </nav>

        <div id="page-wrapper">
            <div class="row">
                        <div id="spinner" >
                             <div class="loader">
                             </div>
                         </div>
                <div class="col-lg-12">
                  <div style="height:40px; text-align:right;">
                        <div class="col-lg-12" style="padding:0px;" >
                            <button class="btn btn-warning btn-sm" id="btnAdd">เพิ่มโฆษณา</button>
                            <button class="btn btn-warning btn-sm" id="btnDelete">ลบโฆษณา</button>
                            <a href="/advert_config"><i class="fa fa-gear fa-fw"></i>ตั้งค่า</a>
                        </div>
                      </div>
                   

                    <div class="panel panel-info">
                        <div class="panel-heading" style="min-height:40px;line-height:30px">
                            <div style="float:left;">รายการโฆษณาทั้งหมด </div>
                        </div>
                        <div class="panel-body">
                            <table id="adsTable" class="display" cellspacing="0" width="100%">
                                <thead>
                                    <tr id="type1">
                                        <th><input id="checkAll" name="checkAll" value="1" type="checkbox"></th>
                                        <th>รูปภาพ</th>
                                        <th>ชื่อเรื่อง</th>
                                        <th>URL</th>
                                        <th>คำอธิบาย</th>
                                        <th>ประเภทโฆษณา</th>
                                        <th>วันเริ่มต้นแสดง</th>
                                        <th>วันสิ้นสุดการแสดง</th>
                                        <th>สถานะ</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include ../partial/header_js.ejs %>

    <script type="text/javascript">
        $(document).ready(function () {
           GenerateDataTable();


        });

        $("#checkAll").click(function(){
            $('input:checkbox').not(this).prop('checked', this.checked);
        });

        function GenerateDataTable() {
             $('#spinner').show();
            var table = $('#adsTable').DataTable({
                "bDestroy": true,
                'bStateSave': true,
                "fnDraw": false,
                "bLengthChange": false,
                "responsive": true,
                "language": {
                    "lengthMenu": "แสดงผล _MENU_ ต่อหนึ่งเพจ",
                    "zeroRecords": "ไม่พบข้อมูล",
                    "info": "แสดงผลที่หน้า _PAGE_ จาก _PAGES_",
                    "infoEmpty": "No records available",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "search": "ค้นหา:",
                    "paginate": {
                        "first": "เริ่มต้น",
                        "last": "สุดท้าย",
                        "next": "ต่อไป",
                        "previous": "ก่อนหน้า"
                    }
                },

                "ajax": {

                    "url": '/advert_searchDataTable',
                    "type": 'POST',
                    "data": {},
                    "dataSrc": ""
                },
                "columns": [
                     {
                         sortable: false,
                         "render": function ( data, type, full, meta ) {
                             var name = full.advertID;
                             return '&nbsp;&nbsp;&nbsp;<input name="select" value="'+name+'" type="checkbox">';
                         }
                     },
                    {
                         sortable: false,
                         "render": function ( data, type, full, meta ) {
                            var blobURL = data;
                             
                            var newImg = document.createElement('img');
                            console.log(newImg);
                            newImg.src = blobURL;
                             return '<img src="/img/'+full.url+'" height="80" width="100" style="width=150px !important;height=100px; !important" />';
                         }
                     },
                    { "data": "title" },
                    { "data": "url" },
                    { "data": "description" },
                    { "data": "categoryName" },
                    { "data": "startDateFormat" },
                    { "data": "endDateFormat" },
                    { "data": "status" },
                    {
                        "targets": -1,
                        "data": null,
                        "defaultContent": "<button>แก้ไข</button>"
                    }
                ],
                "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
                      $('#spinner').hide();
                      // var imgLink = '../../img/'+aData.pictureName;
                      // var imgTag = '<img src="' + imgLink + '"/>';
                      // $('td:eq(1)', nRow).html(imgTag);
                      // return nRow;
                }
            });

            $('#adsTable tbody').on( 'click', 'button', function () {
                var data = table.row($(this).parents('tr')).data();
                window.location.href ="/advert_add?title=" + data.title+"&url="+data.url+"&description="+data.description+"&picture_name="+data.pictureName+"&start_date="+data.startDateFormat+"&end_date="+data.endDateFormat+"&status="+data.status+"&category_name="+data.categoryName+"&advert_id="+data.advertID+"&action=edit";
            } );

        }


        $('#btnDelete').on('click', function () {
            var data ="";
            $('#adsTable').find("tr").each(function(){
                if($(this).find("input[name='select']").is(':checked')){
                   data=data+$(this).find("input[name='select']").val()+"|";
                }
            });
            window.location.href = "advert_delete?data="+data;
        });

        $('#btnAdd').on('click', function () {
            window.location.href = "advert_add?action=add";
        });
    </script>
    </div>
    </div>
</body>
</html>