﻿<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ../partial/header_meta.ejs %>
    <%- include ../partial/header_css.ejs %>
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <%- include ../partial/nav_header.ejs %>
            <%- include ../partial/nav_menu.ejs %>
        </nav>

        <div id="page-wrapper" style="padding-top: 10px; overflow: auto;">
            <div id="spinner">
                <div class="loader">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-warning" id="btnBack">ย้อนกลับ</button>
                </div>
                <div class="col-lg-12">

                    <div style="heigth: 100px; margin: 0 auto; padding-top: 10px; text-align: center;">

                        <div class="panel panel-info">
                            <div class="panel-heading" style="min-height: 40px; line-height: 30px">
                                <div style="float: left;">รายละเอียดตู้ </div>
                            </div>
                            <div class="panel-body">
                                <table id="adsTable" class="display" cellspacing="0" width="100%">
                                    <thead>
                                        <tr id="type1">
                                            <th>Serial Number</th>
                                            <th>Shop Name</th>
                                            <th>Agent Name</th>
                                            <th>Agent LastName</th>
                                            <th>Agent Address</th>
                                            <th>Operation Date</th>
                                            <th>Latitude </th>
                                            <th>Longitude </th>
                                        </tr>
                                    </thead>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ../partial/header_js.ejs %>

    <script type="text/javascript">
        $(document).ready(function () {
            GenerateDataTable();
        });

        function GenerateDataTable() {
            $('#spinner').show();
            var table = $('#adsTable').DataTable({
                "bDestroy": true,
                'bStateSave': true,
                "fnDraw": false,
                "bLengthChange": false,
                "responsive": true,
                "language": {
                    "lengthMenu": "แสดงผล _MENU_ ต่อหนึ่งเพจ",
                    "zeroRecords": "ไม่พบข้อมูล",
                    "info": "แสดงผลที่หน้า _PAGE_ จาก _PAGES_",
                    "infoEmpty": "No records available",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "search": "ค้นหา:",
                    "paginate": {
                        "first": "เริ่มต้น",
                        "last": "สุดท้าย",
                        "next": "ต่อไป",
                        "previous": "ก่อนหน้า"
                    }
                },

                "ajax": {

                    "url": '/kiosk/main',
                    "type": 'POST',
                    "data": {},
                    "dataSrc": ""
                },
                "columns": [

                    { "data": "host_name" },
                    { "data": "shop_name" },
                    { "data": "agent_name" },
                    { "data": "agent_lastname" },
                    { "data": "agent_address" },
                    { "data": "operation_date" },
                    { "data": "Latitude" },
                    { "data": "Longitude" }
                ],
                "initComplete": function () {
                    $('#spinner').hide();
                }
            });
            return false;
        }
        $('#btnBack').on('click', function () {
            window.location.href = "main";
        });
    </script>
</body>
</html>
